Repository woowacourse-teams/2022-moamoa, pull requests merged in 2022-09, with the labels that each got.

#307 [BE] issue306: PathMatcherInterceptor 생성 및 AuthenticationInterceptor 개선
  backend/src/main/java/com/woowacourse/moamoa/auth/config/AuthConfig.java
  backend/src/main/java/com/woowacourse/moamoa/auth/config/AuthRequestMatchConfig.java
  backend/src/main/java/com/woowacourse/moamoa/auth/controller/interceptor/AuthenticationInterceptor.java
  backend/src/main/java/com/woowacourse/moamoa/auth/controller/interceptor/PathMatcherContainer.java
  backend/src/main/java/com/woowacourse/moamoa/auth/controller/interceptor/PathMatcherInterceptor.java
  backend/src/main/java/com/woowacourse/moamoa/auth/controller/interceptor/PathRequestMatcher.java
  backend/src/main/java/com/woowacourse/moamoa/auth/controller/matcher/AuthenticationRequest.java
  backend/src/main/java/com/woowacourse/moamoa/auth/controller/matcher/AuthenticationRequestMatcher.java
  backend/src/main/java/com/woowacourse/moamoa/auth/controller/matcher/AuthenticationRequestMatcherBuilder.java
  backend/src/test/java/com/woowacourse/moamoa/WebMVCTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/controller/interceptor/AuthenticationInterceptorTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/controller/interceptor/PathMatcherContainerTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/controller/interceptor/PathRequestMatcherTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/controller/matcher/AuthenticationRequestMatcherTest.java
Labels: 🖥 backend, 🛠 refactoring

#358 [FE] issue 326: 태그 다중 선택 기능
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/button/unstyled-button/UnstyledButton.style.tsx
  frontend/src/components/button/unstyled-button/UnstyledButton.tsx
  frontend/src/components/drop-down-box/DropDownBox.style.tsx
  frontend/src/components/drop-down-box/DropDownBox.tsx
  frontend/src/components/icons/x-mark-icon/XMarkIcon.tsx
  frontend/src/components/multi-tag-select/MultiTagSelect.style.tsx
  frontend/src/components/multi-tag-select/MultiTagSelect.tsx
  frontend/src/constants.ts
  frontend/src/custom-types/index.ts
  frontend/src/hooks/useForm.tsx
  frontend/src/layout/header/Header.tsx
  frontend/src/pages/create-study-page/components/subject/Subject.tsx
  frontend/src/pages/create-study-page/hooks/useCreateStudyPage.ts
  frontend/src/pages/edit-study-page/hooks/useEditStudyPage.ts
  frontend/src/pages/main-page/components/study-card/StudyCard.tsx
  frontend/src/pages/study-room-page/tabs/link-room-tab-panel/components/link-item/LinkItem.tsx
  frontend/src/pages/study-room-page/tabs/review-tab-panel/components/review-comment/ReviewComment.tsx
  frontend/src/utils/isFunction.ts
  frontend/src/utils/isNullOrUndefined.ts
  frontend/src/utils/isObject.ts
  frontend/src/utils/type-checks.ts
  frontend/webpack/webpack.common.js
  frontend/webpack/webpack.dev.js
  frontend/webpack/webpack.prod.js
Labels: 🚀 feature, 😁 frontend

#376 [BE] 사용자 스터디 개수 조회 Index 개선
  backend/src/main/java/com/woowacourse/moamoa/member/query/MemberDao.java
  backend/src/main/java/com/woowacourse/moamoa/study/query/StudyDetailsDao.java
Labels: 🖥 backend, 🛠 refactoring

#378 [BE] issue377: Study 쪽 쿼리 개선
  backend/src/main/java/com/woowacourse/moamoa/study/query/MyStudyDao.java
  backend/src/main/java/com/woowacourse/moamoa/study/query/StudySummaryDao.java
Labels: 🚀 feature, 🖥 backend, ⛑ performance

#383 fix: tags null check
  frontend/src/pages/my-study-page/components/my-study-card/MyStudyCard.tsx
Labels: 🐞 bug, 😁 frontend

#380 [FE] issue374: 버그 및 UI 개선
  frontend/.prettierrc.json
  frontend/.storybook/main.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/community/index.ts
  frontend/src/api/link-preview/index.ts
  frontend/src/api/notice/index.ts
  frontend/src/api/review/index.ts
  frontend/src/api/reviews/index.ts
  frontend/src/api/studies/index.ts
  frontend/src/api/study/index.ts
  frontend/src/components/flex/Flex.style.tsx
  frontend/src/components/flex/Flex.tsx
  frontend/src/components/infinite-scroll/InfiniteScroll.tsx
  frontend/src/components/modal/Modal.stories.tsx
  frontend/src/components/route-with-condition/RouteWithCondition.tsx
  frontend/src/constants.ts
  frontend/src/custom-types/index.ts
  frontend/src/layout/header/Header.tsx
  frontend/src/mocks/my-studies.json
  frontend/src/pages/detail-page/components/head/Head.tsx
  frontend/src/pages/error-page/ErrorPage.stories.tsx
  frontend/src/pages/index.ts
  frontend/src/pages/main-page/MainPage.tsx
  frontend/src/pages/my-study-page/components/my-study-card-list-section/MyStudyCardListSection.tsx
  frontend/src/pages/study-room-page/StudyRoomPage.tsx
  frontend/src/pages/study-room-page/components/side-menu/SideMenu.stories.tsx
  frontend/src/pages/study-room-page/components/side-menu/SideMenu.style.tsx
  frontend/src/pages/study-room-page/components/side-menu/SideMenu.tsx
  frontend/src/pages/study-room-page/hooks/useStudyRoomPage.tsx
  frontend/src/pages/study-room-page/tabs/community-tab-panel/CommunityTabPanel.tsx
  frontend/src/pages/study-room-page/tabs/community-tab-panel/components/article-list-item/ArticleListItem.tsx
  frontend/src/pages/study-room-page/tabs/community-tab-panel/components/article-list/ArticleList.tsx
  frontend/src/pages/study-room-page/tabs/community-tab-panel/components/article/Article.tsx
  frontend/src/pages/study-room-page/tabs/community-tab-panel/components/edit/Edit.tsx
  frontend/src/pages/study-room-page/tabs/community-tab-panel/components/publish/Publish.tsx
  frontend/src/pages/study-room-page/tabs/link-room-tab-panel/LinkRoomTabPanel.stories.tsx
  frontend/src/pages/study-room-page/tabs/link-room-tab-panel/LinkRoomTabPanel.tsx
  frontend/src/pages/study-room-page/tabs/link-room-tab-panel/components/link-edit-form/LinkEditForm.stories.tsx
  frontend/src/pages/study-room-page/tabs/link-room-tab-panel/components/link-form/LinkForm.stories.tsx
  frontend/src/pages/study-room-page/tabs/link-room-tab-panel/components/link-item/LinkItem.stories.tsx
  frontend/src/pages/study-room-page/tabs/link-room-tab-panel/components/link-item/LinkItem.tsx
  frontend/src/pages/study-room-page/tabs/link-room-tab-panel/components/link-preview/LinkPreview.stories.tsx
  frontend/src/pages/study-room-page/tabs/link-room-tab-panel/components/link-preview/LinkPreview.tsx
  frontend/src/pages/study-room-page/tabs/link-room-tab-panel/components/user-description/UserDescription.stories.tsx
  frontend/src/pages/study-room-page/tabs/notice-tab-panel/NoticeTabPanel.tsx
  frontend/src/pages/study-room-page/tabs/notice-tab-panel/components/article-list-item/ArticleListItem.tsx
  frontend/src/pages/study-room-page/tabs/notice-tab-panel/components/article-list/ArticleList.tsx
  frontend/src/pages/study-room-page/tabs/notice-tab-panel/components/article/Article.tsx
  frontend/src/pages/study-room-page/tabs/notice-tab-panel/components/edit/Edit.tsx
  frontend/src/pages/study-room-page/tabs/notice-tab-panel/components/publish/Publish.tsx
  frontend/src/pages/study-room-page/tabs/review-tab-panel/ReviewTabPanel.tsx
  frontend/src/pages/study-room-page/tabs/review-tab-panel/components/reivew-form/ReviewForm.stories.tsx
  frontend/src/pages/study-room-page/tabs/review-tab-panel/components/review-comment/ReviewComment.stories.tsx
  frontend/src/pages/study-room-page/tabs/review-tab-panel/components/review-comment/ReviewComment.tsx
  frontend/tsconfig.json
  frontend/webpack/webpack.common.js
  package-lock.json
Labels: 🐞 bug, 🚀 feature, 😁 frontend

#360 [BE] issue359: 기존 githubId 사용하던 곳 모두 memberId 로 변경
  backend/src/main/java/com/woowacourse/moamoa/member/query/MemberDao.java
  backend/src/main/java/com/woowacourse/moamoa/member/query/data/OwnerData.java
  backend/src/main/java/com/woowacourse/moamoa/member/query/data/ParticipatingMemberData.java
  backend/src/main/java/com/woowacourse/moamoa/referenceroom/query/LinkDao.java
  backend/src/main/java/com/woowacourse/moamoa/review/query/ReviewDao.java
  backend/src/main/java/com/woowacourse/moamoa/study/query/StudyDetailsDao.java
  backend/src/main/java/com/woowacourse/moamoa/studyroom/query/ArticleDao.java
  backend/src/test/java/com/woowacourse/acceptance/test/referenceroom/ReferenceRoomAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/test/study/GettingStudyDetailsAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/test/studyroom/CommunityAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/test/studyroom/NoticeAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moamoa/fixtures/MemberFixtures.java
  backend/src/test/java/com/woowacourse/moamoa/referenceroom/controller/SearchingReferenceRoomControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/referenceroom/query/LinkDaoTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/controller/SearchingReviewControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/query/ReviewDaoTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/controller/SearchingStudyControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/query/StudyDetailsDaoTest.java
  backend/src/test/java/com/woowacourse/moamoa/studyroom/controller/GettingArticleControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/studyroom/controller/GettingCommunityArticleSummariesControllerTest.java
Labels: 🖥 backend, 🛠 refactoring

#385 [BE] issue384: Refresh Token 제거
  .github/workflows/devploy-frontend-prod.yml
  backend/src/docs/asciidoc/index.adoc
  backend/src/main/java/com/woowacourse/moamoa/auth/config/AuthConfig.java
  backend/src/main/java/com/woowacourse/moamoa/auth/config/AuthenticatedRefresh.java
  backend/src/main/java/com/woowacourse/moamoa/auth/controller/AuthController.java
  backend/src/main/java/com/woowacourse/moamoa/auth/controller/AuthenticatedRefreshArgumentResolver.java
  backend/src/main/java/com/woowacourse/moamoa/auth/controller/interceptor/AuthenticationInterceptor.java
  backend/src/main/java/com/woowacourse/moamoa/auth/domain/Token.java
  backend/src/main/java/com/woowacourse/moamoa/auth/domain/repository/TokenRepository.java
  backend/src/main/java/com/woowacourse/moamoa/auth/exception/RefreshTokenExpirationException.java
  backend/src/main/java/com/woowacourse/moamoa/auth/infrastructure/JwtTokenProvider.java
  backend/src/main/java/com/woowacourse/moamoa/auth/infrastructure/TokenProvider.java
  backend/src/main/java/com/woowacourse/moamoa/auth/service/AuthService.java
  backend/src/main/java/com/woowacourse/moamoa/auth/service/response/TokenResponse.java
  backend/src/main/java/com/woowacourse/moamoa/common/advice/CommonControllerAdvice.java
  backend/src/test/java/com/woowacourse/acceptance/test/auth/AuthAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/controller/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/service/AuthServiceTest.java
  backend/src/test/resources/schema.sql
Labels: 🚀 feature, 🖥 backend

#373 [BE] issue372: Github Token 받아오는 과정을 트랜잭션에서 제외
  backend/src/main/java/com/woowacourse/moamoa/auth/controller/AuthController.java
  backend/src/main/java/com/woowacourse/moamoa/auth/infrastructure/GithubOAuthClient.java
  backend/src/main/java/com/woowacourse/moamoa/auth/service/AuthService.java
  backend/src/main/java/com/woowacourse/moamoa/auth/service/oauthclient/OAuthClient.java
  backend/src/test/java/com/woowacourse/moamoa/WebMVCTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/controller/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/service/OAuthClientTest.java
  backend/src/test/java/com/woowacourse/moamoa/studyroom/webmvc/GettingArticleControllerWebMvcTest.java
Labels: 🚀 feature, 🖥 backend, ⛑ performance
