Repository woowacourse-teams/2022-moamoa, pull requests merged in 2022-11, with the labels that each got.

#454 [FE] 메인 페이지 접근성 개선
  frontend/src/pages/main-page/MainPage.tsx
  frontend/src/pages/main-page/components/filter-button/FilterButton.tsx
  frontend/src/pages/main-page/components/filter-section/FilterSection.tsx
  frontend/src/pages/main-page/components/study-card/StudyCard.tsx
Labels: 🚀 feature, 😁 frontend

#465 [BE] issue464: 비관적락 사용으로 인한 데드락 상황 방지하기
  backend/src/main/java/com/woowacourse/moamoa/study/domain/repository/StudyRepository.java
Labels: 🚀 feature, 🖥 backend

#471 hotfix: connection-time 수정
  backend/src/main/java/com/woowacourse/moamoa/study/domain/repository/StudyRepository.java
Labels: 🖥 backend, ⚙️ setting
