Repository woowacourse-teams/2022-moamoa, pull requests merged in 2022-07, with the labels that each got.

#8 chore: 프로젝트 세팅
  frontend/.babelrc.json
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/.prettierrc.json
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/.vscode/settings.json
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.png
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/index.tsx
  frontend/tsconfig.json
  frontend/webpack/webpack.common.js
  frontend/webpack/webpack.dev.js
  frontend/webpack/webpack.prod.js
Labels: 😁 frontend, ⚙️ setting

#12 [FE] Feat/10 list page
  frontend/.gitignore
  frontend/.prettierrc.json
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/package-lock.json
  frontend/src/components/Card/Card.stories.tsx
  frontend/src/components/Card/index.tsx
  frontend/src/components/Card/style.ts
  frontend/src/components/CardItem/index.tsx
  frontend/src/components/Chip/Chip.stories.tsx
  frontend/src/components/Chip/index.tsx
  frontend/src/components/Chip/style.ts
  frontend/src/components/StudyCard/StudyCard.stories.tsx
  frontend/src/components/StudyCard/index.tsx
  frontend/src/components/StudyChip/index.tsx
  frontend/src/components/Wrapper/index.tsx
  frontend/src/custom-types/index.ts
  frontend/src/custom-types/types.d.ts
  frontend/src/index.tsx
  frontend/src/pages/MainPage/MainPage.stories.tsx
  frontend/src/pages/MainPage/index.tsx
  frontend/src/pages/MainPage/style.ts
  frontend/src/styles/Globalstyles.tsx
  frontend/src/styles/theme.ts
  frontend/tsconfig.json
  frontend/webpack/webpack.common.js
Labels: 🚀 feature, 😁 frontend

#14 [BE] issue6: 스터디 목록 조회
  backend/build.gradle
  backend/src/main/java/com/woowacourse/moamoa/config/PageableVerificationArgumentResolver.java
  backend/src/main/java/com/woowacourse/moamoa/config/WebConfig.java
  backend/src/main/java/com/woowacourse/moamoa/controller/StudyController.java
  backend/src/main/java/com/woowacourse/moamoa/controller/dto/ErrorResponse.java
  backend/src/main/java/com/woowacourse/moamoa/controller/dto/StudiesResponse.java
  backend/src/main/java/com/woowacourse/moamoa/controller/dto/StudyResponse.java
  backend/src/main/java/com/woowacourse/moamoa/domain/Study.java
  backend/src/main/java/com/woowacourse/moamoa/exception/InvalidFormatException.java
  backend/src/main/java/com/woowacourse/moamoa/repository/StudyRepository.java
  backend/src/main/java/com/woowacourse/moamoa/service/StudyService.java
  backend/src/test/java/com/woowacourse/acceptance/StudyAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moamoa/controller/StudyControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/repository/StudyRepositoryTest.java
  backend/src/test/resources/application.yml
  backend/src/test/resources/init.sql
Labels: 🚀 feature, 🖥 backend

#20 [FE] Feat/11-header
  frontend/.prettierrc.json
  frontend/.storybook/main.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/assets/images/logo.png
  frontend/src/components/Avatar/Avatar.stories.tsx
  frontend/src/components/Avatar/index.tsx
  frontend/src/components/Avatar/style.tsx
  frontend/src/components/Card/style.ts
  frontend/src/components/Header/Header.stories.tsx
  frontend/src/components/Header/index.tsx
  frontend/src/components/Header/style.ts
  frontend/src/components/Logo/Logo.stories.tsx
  frontend/src/components/Logo/index.tsx
  frontend/src/components/Logo/style.tsx
  frontend/src/components/SearchBar/SearchBar.stories.tsx
  frontend/src/components/SearchBar/index.tsx
  frontend/src/components/SearchBar/style.ts
  frontend/src/components/StudyCard/index.tsx
  frontend/src/components/Wrapper/index.tsx
  frontend/src/custom-types/images.d.ts
  frontend/src/custom-types/types.d.ts
  frontend/src/pages/MainPage/index.tsx
  frontend/src/pages/MainPage/style.ts
  frontend/src/styles/Globalstyles.tsx
  frontend/tsconfig.json
  frontend/webpack/webpack.common.js
Labels: 🚀 feature, 😁 frontend

#23 [BE] issue22: 테스트 코드 및 패키지 구조 변경
  backend/src/main/java/com/woowacourse/moamoa/MoamoaApplication.java
  backend/src/main/java/com/woowacourse/moamoa/common/advice/CommonControllerAdvice.java
  backend/src/main/java/com/woowacourse/moamoa/common/advice/response/ErrorResponse.java
  backend/src/main/java/com/woowacourse/moamoa/common/config/PageableVerificationArgumentResolver.java
  backend/src/main/java/com/woowacourse/moamoa/common/config/WebConfig.java
  backend/src/main/java/com/woowacourse/moamoa/common/exception/InvalidFormatException.java
  backend/src/main/java/com/woowacourse/moamoa/controller/StudyController.java
  backend/src/main/java/com/woowacourse/moamoa/exception/InvalidFormatException.java
  backend/src/main/java/com/woowacourse/moamoa/repository/StudyRepository.java
  backend/src/main/java/com/woowacourse/moamoa/service/StudyService.java
  backend/src/main/java/com/woowacourse/moamoa/study/controller/StudyController.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/Study.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/repository/JpaStudyRepository.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/repository/StudyRepository.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/StudyService.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/response/StudiesResponse.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/response/StudyResponse.java
  backend/src/test/java/com/woowacourse/acceptance/StudyAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moamoa/controller/StudyControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/repository/StudyRepositoryTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/controller/StudyControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/repository/StudyRepositoryTest.java
Labels: 🖥 backend, 🛠 refactoring

#24 [BE] issue18: 스터디 제목으로 검색
  backend/src/main/java/com/woowacourse/moamoa/study/controller/StudyController.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/repository/StudyRepository.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/StudyService.java
  backend/src/test/java/com/woowacourse/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/study/GettingStudiesAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/study/SearchingStudiesAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/controller/StudyControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/repository/StudyRepositoryTest.java
Labels: 🚀 feature, 🖥 backend

#29 [BE] issue28: CORS 허용
  backend/src/main/java/com/woowacourse/moamoa/common/config/WebConfig.java
  backend/src/test/java/com/woowacourse/acceptance/AcceptanceTest.java
Labels: 🖥 backend, ⚙️ setting

#30 [FE] issue19: MSW 서버 구현
  frontend/.prettierrc.json
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/env/.env.dev
  frontend/env/.env.local
  frontend/env/.env.prod
  frontend/package-lock.json
  frontend/package.json
  frontend/public/mockServiceWorker.js
  frontend/src/api/axiosInstance.ts
  frontend/src/api/getStudyList.ts
  frontend/src/api/getStudyListSearchedByTitle.ts
  frontend/src/components/Header/index.tsx
  frontend/src/components/SearchBar/index.tsx
  frontend/src/constants.ts
  frontend/src/context/search/SearchProvider.tsx
  frontend/src/custom-types/common.d.ts
  frontend/src/custom-types/images.d.ts
  frontend/src/custom-types/index.ts
  frontend/src/custom-types/theme.d.ts
  frontend/src/index.tsx
  frontend/src/mocks/browser.ts
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/studies.json
  frontend/src/pages/MainPage/index.tsx
  frontend/tsconfig.json
  frontend/webpack/webpack.common.js
  frontend/webpack/webpack.dev.js
  frontend/webpack/webpack.prod.js
Labels: 🚀 feature, 😁 frontend

#31 [FE] issue27: 무한 스크롤 기능 추가
  frontend/src/App.tsx
  frontend/src/components/Card/style.ts
  frontend/src/components/Footer/Footer.stories.tsx
  frontend/src/components/Footer/index.tsx
  frontend/src/components/Footer/style.ts
  frontend/src/components/Header/index.tsx
  frontend/src/components/SearchBar/index.tsx
  frontend/src/components/StudyCard/index.tsx
  frontend/src/constants.ts
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/studies.json
  frontend/src/pages/MainPage/index.tsx
Labels: 🚀 feature, 😁 frontend

#32 [FE] hotfix: git 충돌 에러 해결
  frontend/src/components/SearchBar/index.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/studies.json
  frontend/src/pages/MainPage/index.tsx
Labels: 🐞 bug

#41 [BE] issue7: 백엔드 ci 세팅
  .github/workflows/backend.yml
Labels: ⚙️ setting

#54 [BE] issue51: 스터디 세부사항, 태그 및 멤버 DB 테이블 설계
  backend/src/main/java/com/woowacourse/moamoa/study/domain/Study.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/response/StudyResponse.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/application.yml
  backend/src/main/resources/data.sql
  backend/src/main/resources/schema.sql
  backend/src/test/java/com/woowacourse/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/study/GettingStudiesAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/study/SearchingStudiesAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/controller/StudyControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/repository/StudyRepositoryTest.java
  backend/src/test/resources/init.sql
Labels: 🖥 backend, 🛠 refactoring

#57 [BE] issue47: 태그 목록 검색 및 조회
  backend/src/main/java/com/woowacourse/moamoa/common/config/WebConfig.java
  backend/src/main/java/com/woowacourse/moamoa/tag/controller/TagController.java
  backend/src/main/java/com/woowacourse/moamoa/tag/domain/Tag.java
  backend/src/main/java/com/woowacourse/moamoa/tag/domain/repository/JpaTagRepository.java
  backend/src/main/java/com/woowacourse/moamoa/tag/domain/repository/TagRepository.java
  backend/src/main/java/com/woowacourse/moamoa/tag/service/TagService.java
  backend/src/main/java/com/woowacourse/moamoa/tag/service/response/TagResponse.java
  backend/src/main/java/com/woowacourse/moamoa/tag/service/response/TagsResponse.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/woowacourse/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/tag/TagsAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/controller/StudyControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/tag/controller/TagControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/tag/domain/repository/TagRepositoryTest.java
Labels: 🚀 feature, 🖥 backend

#52 [FE] issue35: Lint오류 해결
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Card/Card.stories.tsx
  frontend/src/components/CardItem/index.tsx
  frontend/src/components/Header/index.tsx
  frontend/src/components/Logo/Logo.stories.tsx
  frontend/src/components/SearchBar/index.tsx
  frontend/src/components/StudyCard/index.tsx
  frontend/src/context/search/SearchProvider.tsx
  frontend/src/pages/MainPage/index.tsx
Labels: 😁 frontend, 🛠 refactoring, ⚙️ setting

#74 [FE] issue71: 프론트엔드 CI 설정
  .github/workflows/frontend.yml
Labels: 😁 frontend, ⚙️ setting

#76 [BE] issue50: 로그인 기능 구현
  backend/.gitignore
  backend/build.gradle
  backend/src/main/java/com/woowacourse/moamoa/auth/config/AuthConfiguration.java
  backend/src/main/java/com/woowacourse/moamoa/auth/config/AuthenticationExtractor.java
  backend/src/main/java/com/woowacourse/moamoa/auth/config/AuthenticationPrincipal.java
  backend/src/main/java/com/woowacourse/moamoa/auth/controller/AuthController.java
  backend/src/main/java/com/woowacourse/moamoa/auth/controller/AuthenticationArgumentResolver.java
  backend/src/main/java/com/woowacourse/moamoa/auth/controller/AuthenticationInterceptor.java
  backend/src/main/java/com/woowacourse/moamoa/auth/infrastructure/JwtTokenProvider.java
  backend/src/main/java/com/woowacourse/moamoa/auth/service/AuthService.java
  backend/src/main/java/com/woowacourse/moamoa/auth/service/oauthclient/GithubOAuthClient.java
  backend/src/main/java/com/woowacourse/moamoa/auth/service/oauthclient/OAuthClient.java
  backend/src/main/java/com/woowacourse/moamoa/auth/service/oauthclient/exception/InvalidMemberException.java
  backend/src/main/java/com/woowacourse/moamoa/auth/service/oauthclient/exception/UnauthorizedException.java
  backend/src/main/java/com/woowacourse/moamoa/auth/service/oauthclient/response/OAuthAccessTokenResponse.java
  backend/src/main/java/com/woowacourse/moamoa/auth/service/request/AccessTokenRequest.java
  backend/src/main/java/com/woowacourse/moamoa/auth/service/response/GithubProfileResponse.java
  backend/src/main/java/com/woowacourse/moamoa/auth/service/response/TokenResponse.java
  backend/src/main/java/com/woowacourse/moamoa/common/advice/CommonControllerAdvice.java
  backend/src/main/java/com/woowacourse/moamoa/member/domain/Member.java
  backend/src/main/java/com/woowacourse/moamoa/member/domain/repository/JpaMemberRepository.java
  backend/src/main/java/com/woowacourse/moamoa/member/domain/repository/MemberRepository.java
  backend/src/main/java/com/woowacourse/moamoa/member/service/MemberService.java
  backend/src/main/java/com/woowacourse/moamoa/member/service/response/MemberResponse.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/woowacourse/acceptance/auth/AuthAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/config/AuthenticationExtractorTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/controller/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/controller/FakeAuthController.java
  backend/src/test/java/com/woowacourse/moamoa/auth/infrastructure/JwtTokenProviderTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/service/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/service/OAuthClientTest.java
  backend/src/test/java/com/woowacourse/moamoa/member/domain/repository/MemberRepositoryTest.java
  backend/src/test/java/com/woowacourse/moamoa/member/service/MemberServiceTest.java
  backend/src/test/resources/application.yml
Labels: 🚀 feature, 🖥 backend

#84 [BE] issue63: 카테고리별 태그 조회 및 검색
  backend/src/main/java/com/woowacourse/moamoa/tag/controller/SearchingTagController.java
  backend/src/main/java/com/woowacourse/moamoa/tag/controller/TagController.java
  backend/src/main/java/com/woowacourse/moamoa/tag/controller/converter/CategoryIdConverter.java
  backend/src/main/java/com/woowacourse/moamoa/tag/domain/CategoryId.java
  backend/src/main/java/com/woowacourse/moamoa/tag/domain/Tag.java
  backend/src/main/java/com/woowacourse/moamoa/tag/domain/repository/JpaTagRepository.java
  backend/src/main/java/com/woowacourse/moamoa/tag/domain/repository/TagRepository.java
  backend/src/main/java/com/woowacourse/moamoa/tag/query/TagsSearcher.java
  backend/src/main/java/com/woowacourse/moamoa/tag/query/response/CategoryResponse.java
  backend/src/main/java/com/woowacourse/moamoa/tag/query/response/TagResponse.java
  backend/src/main/java/com/woowacourse/moamoa/tag/query/response/TagsResponse.java
  backend/src/main/java/com/woowacourse/moamoa/tag/service/TagService.java
  backend/src/main/java/com/woowacourse/moamoa/tag/service/response/TagResponse.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/data.sql
  backend/src/main/resources/schema.sql
  backend/src/test/java/com/woowacourse/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/cors/CorsAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/tag/TagAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/tag/TagsAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moamoa/common/RepositoryTest.java
  backend/src/test/java/com/woowacourse/moamoa/tag/controller/SearchingTagControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/tag/controller/TagControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/tag/domain/repository/TagRepositoryTest.java
  backend/src/test/java/com/woowacourse/moamoa/tag/query/TagsSearcherTest.java
  backend/src/test/resources/init.sql
Labels: 🚀 feature, 🖥 backend

#90 [BE] issue60: Filter로 필터링하여 스터디 목록 조회
  backend/build.gradle
  backend/src/main/java/com/woowacourse/moamoa/study/controller/StudyController.java
  backend/src/main/java/com/woowacourse/moamoa/study/controller/request/TagRequest.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/Study.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/study/Study.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/study/repository/JpaStudyRepository.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/study/repository/StudyRepository.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/studytag/StudySearchCondition.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/studytag/StudySlice.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/studytag/StudyTag.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/studytag/repository/CustomStudyTagRepository.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/studytag/repository/CustomStudyTagRepositoryImpl.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/studytag/repository/StudyTagRepository.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/StudyService.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/StudyTagService.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/response/StudyResponse.java
  backend/src/main/java/com/woowacourse/moamoa/tag/domain/Category.java
  backend/src/main/java/com/woowacourse/moamoa/tag/domain/Tag.java
  backend/src/main/java/com/woowacourse/moamoa/tag/domain/repository/JpaTagRepository.java
  backend/src/main/java/com/woowacourse/moamoa/tag/domain/repository/TagRepository.java
  backend/src/main/java/com/woowacourse/moamoa/tag/exception/TagNotExistException.java
  backend/src/main/resources/data.sql
  backend/src/test/java/com/woowacourse/acceptance/study/SearchingStudiesAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/controller/StudyControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/domain/study/repository/StudyRepositoryTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/domain/studytag/repository/CustomStudyTagRepositoryTest.java
Labels: 🚀 feature, 🖥 backend

#91 [BE] issue49: param -> queryParam 사용
  backend/src/test/java/com/woowacourse/acceptance/study/GettingStudiesAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/study/SearchingStudiesAcceptanceTest.java
Labels: 🖥 backend, 🛠 refactoring

#93 [FE] issue81: 로그인, 로그아웃 구현
  frontend/.prettierrc.json
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/env/.env.local
  frontend/src/App.tsx
  frontend/src/api/getAccessToken.ts
  frontend/src/context/login/LoginProvider.tsx
  frontend/src/custom-types/common.d.ts
  frontend/src/custom-types/index.ts
  frontend/src/hooks/useAuth.ts
  frontend/src/index.tsx
  frontend/src/layout/header/Header.style.tsx
  frontend/src/layout/header/Header.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/tokenHandlers.ts
  frontend/src/pages/login-redirect-page/LoginRedirectPage.tsx
  frontend/tsconfig.json
  frontend/webpack/webpack.common.js
  frontend/webpack/webpack.dev.js
  frontend/webpack/webpack.prod.js
Labels: 🚀 feature, 😁 frontend

#100 [BE] issue99: 태그ID로 필터링하여 스터디 검색하도록 수정
  backend/src/main/java/com/woowacourse/moamoa/study/controller/request/TagRequest.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/StudyTagService.java
  backend/src/main/java/com/woowacourse/moamoa/tag/domain/repository/JpaTagRepository.java
  backend/src/main/java/com/woowacourse/moamoa/tag/domain/repository/TagRepository.java
  backend/src/test/java/com/woowacourse/acceptance/study/SearchingStudiesAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/domain/studytag/repository/CustomStudyTagRepositoryTest.java
Labels: 🚀 feature, 🖥 backend

#101 [BE] issue99: 태그ID로 필터링하여 스터디 검색하도록 수정
  backend/src/main/java/com/woowacourse/moamoa/study/controller/request/TagRequest.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/StudyTagService.java
  backend/src/test/java/com/woowacourse/acceptance/study/SearchingStudiesAcceptanceTest.java
Labels: 🖥 backend, 🛠 refactoring

#104 [FE] issue75: 이미지 에러 및 스터디 상세 페이지 수정
  frontend/env/.env.dev
  frontend/env/.env.local
  frontend/src/App.tsx
  frontend/src/assets/images/no-image-found.png
  frontend/src/assets/images/sth-went-wrong.png
  frontend/src/components/avatar/Avatar.style.tsx
  frontend/src/components/avatar/Avatar.tsx
  frontend/src/components/button/Button.style.ts
  frontend/src/components/button/Button.tsx
  frontend/src/components/card/Card.style.tsx
  frontend/src/components/card/Card.tsx
  frontend/src/components/chip/Chip.tsx
  frontend/src/components/image/Image.tsx
  frontend/src/components/study-chip/StudyChip.tsx
  frontend/src/components/tag-chip/TagChip.tsx
  frontend/src/custom-types/index.ts
  frontend/src/layout/header/Header.style.tsx
  frontend/src/layout/header/logo/Logo.tsx
  frontend/src/mocks/reviews.json
  frontend/src/mocks/studies.json
  frontend/src/pages/detail-page/DetailPage.style.ts
  frontend/src/pages/detail-page/DetailPage.tsx
  frontend/src/pages/detail-page/components/head/Head.stories.tsx
  frontend/src/pages/detail-page/components/head/Head.style.tsx
  frontend/src/pages/detail-page/components/head/Head.tsx
  frontend/src/pages/detail-page/components/more-button/MoreButton.style.tsx
  frontend/src/pages/detail-page/components/more-button/MoreButton.tsx
  frontend/src/pages/detail-page/components/study-float-box/StudyFloatBox.stories.tsx
  frontend/src/pages/detail-page/components/study-float-box/StudyFloatBox.style.tsx
  frontend/src/pages/detail-page/components/study-float-box/StudyFloatBox.tsx
  frontend/src/pages/detail-page/components/study-member-card/StudyMemberCard.stories.tsx
  frontend/src/pages/detail-page/components/study-member-card/StudyMemberCard.style.tsx
  frontend/src/pages/detail-page/components/study-member-card/StudyMemberCard.tsx
  frontend/src/pages/detail-page/components/study-member-list/StudyMemberList.style.tsx
  frontend/src/pages/detail-page/components/study-member-list/StudyMemberList.tsx
  frontend/src/pages/detail-page/components/study-member-section/StudyMemberSection.stories.tsx
  frontend/src/pages/detail-page/components/study-member-section/StudyMemberSection.style.tsx
  frontend/src/pages/detail-page/components/study-member-section/StudyMemberSection.tsx
  frontend/src/pages/detail-page/components/study-review-card/StudyReviewCard.stories.tsx
  frontend/src/pages/detail-page/components/study-review-card/StudyReviewCard.style.tsx
  frontend/src/pages/detail-page/components/study-review-card/StudyReviewCard.tsx
  frontend/src/pages/detail-page/components/study-review-list/StudyReviewList.tsx
  frontend/src/pages/detail-page/components/study-review-section/StudyReviewSection.style.tsx
  frontend/src/pages/detail-page/components/study-review-section/StudyReviewSection.tsx
  frontend/src/pages/detail-page/components/study-wide-float-box/StudyWideFloatBox.stories.tsx
  frontend/src/pages/detail-page/components/study-wide-float-box/StudyWideFloatBox.style.tsx
  frontend/src/pages/detail-page/components/study-wide-float-box/StudyWideFloatBox.tsx
  frontend/src/pages/error-page/ErrorPage.stories.tsx
  frontend/src/pages/error-page/ErrorPage.style.tsx
  frontend/src/pages/error-page/ErrorPage.tsx
  frontend/src/pages/main-page/MainPage.style.tsx
  frontend/src/pages/main-page/MainPage.tsx
Labels: 🚀 feature, 😁 frontend, 🛠 refactoring

#105 [FE] hotfix: api 명세에 따라 수정
  frontend/src/api/getStudyDetail.ts
  frontend/src/pages/detail-page/DetailPage.tsx
  frontend/src/pages/detail-page/hooks/useFetchDetail.ts
Labels: 🐞 bug, 😁 frontend

#107 [BE] issue106: 태그를 이용한 조회 핫픽스
  backend/src/main/java/com/woowacourse/moamoa/study/domain/studytag/repository/CustomStudyTagRepositoryImpl.java
Labels: 🐞 bug, 🖥 backend

#110 [BE] issue92: 스터디 개설
  backend/src/main/java/com/woowacourse/moamoa/auth/config/AuthConfiguration.java
  backend/src/main/java/com/woowacourse/moamoa/auth/controller/AuthenticationArgumentResolver.java
  backend/src/main/java/com/woowacourse/moamoa/auth/controller/AuthenticationInterceptor.java
  backend/src/main/java/com/woowacourse/moamoa/auth/infrastructure/GithubOAuthClient.java
  backend/src/main/java/com/woowacourse/moamoa/auth/service/AuthService.java
  backend/src/main/java/com/woowacourse/moamoa/auth/service/oauthclient/GithubOAuthClient.java
  backend/src/main/java/com/woowacourse/moamoa/auth/service/oauthclient/OAuthClient.java
  backend/src/main/java/com/woowacourse/moamoa/auth/service/oauthclient/response/GithubProfileResponse.java
  backend/src/main/java/com/woowacourse/moamoa/auth/service/oauthclient/response/OAuthAccessTokenResponse.java
  backend/src/main/java/com/woowacourse/moamoa/auth/service/request/AccessTokenRequest.java
  backend/src/main/java/com/woowacourse/moamoa/common/advice/CommonControllerAdvice.java
  backend/src/main/java/com/woowacourse/moamoa/common/exception/UnauthorizedException.java
  backend/src/main/java/com/woowacourse/moamoa/member/domain/Member.java
  backend/src/main/java/com/woowacourse/moamoa/member/service/MemberService.java
  backend/src/main/java/com/woowacourse/moamoa/member/service/exception/InvalidMemberException.java
  backend/src/main/java/com/woowacourse/moamoa/study/controller/CreatingStudyController.java
  backend/src/main/java/com/woowacourse/moamoa/study/controller/SearchingStudiesController.java
  backend/src/main/java/com/woowacourse/moamoa/study/controller/request/OpenStudyRequest.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/AttachedTag.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/Details.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/Participant.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/Participants.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/Period.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/Study.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/exception/InvalidPeriodException.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/repository/JpaStudyRepository.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/repository/StudyRepository.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/study/Participant.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/study/Study.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/studytag/StudySlice.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/studytag/StudyTag.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/studytag/repository/CustomStudyTagRepositoryImpl.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/CreateStudyService.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/StudyDetailService.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/StudyTagService.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/response/StudyDetailResponse.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/response/StudyResponse.java
  backend/src/test/java/com/woowacourse/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/auth/AuthAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/study/CreatingStudyAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/controller/FakeAuthController.java
  backend/src/test/java/com/woowacourse/moamoa/auth/service/OAuthClientTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/controller/CreatingStudyControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/controller/StudyControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/domain/repository/StudyRepositoryTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/domain/study/PeriodTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/domain/study/StudyTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/domain/studytag/repository/CustomStudyTagRepositoryTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/service/StudyDetailServiceTest.java
  backend/src/test/resources/data.sql
  backend/src/test/resources/init.sql
Labels: 🚀 feature, 🖥 backend

#109 [BE] issue108: 스터디 후기 조회
  backend/src/main/java/com/woowacourse/moamoa/review/controller/ReviewController.java
  backend/src/main/java/com/woowacourse/moamoa/review/domain/AssociatedStudy.java
  backend/src/main/java/com/woowacourse/moamoa/review/domain/Review.java
  backend/src/main/java/com/woowacourse/moamoa/review/domain/repository/JpaReviewRepository.java
  backend/src/main/java/com/woowacourse/moamoa/review/domain/repository/ReviewRepository.java
  backend/src/main/java/com/woowacourse/moamoa/review/service/ReviewService.java
  backend/src/main/java/com/woowacourse/moamoa/review/service/response/ReviewResponse.java
  backend/src/main/java/com/woowacourse/moamoa/review/service/response/ReviewsResponse.java
  backend/src/test/java/com/woowacourse/acceptance/review/GettingReviewsAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/domain/repository/ReviewRepositoryTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/service/ReviewServiceTest.java
  backend/src/test/resources/application.yml
  backend/src/test/resources/data.sql
  backend/src/test/resources/schema.sql
Labels: 🚀 feature, 🖥 backend

#115 [BE] issue50: 로그인 기능 리팩터링
  backend/src/main/java/com/woowacourse/moamoa/auth/config/AuthConfig.java
  backend/src/main/java/com/woowacourse/moamoa/auth/controller/AuthenticationArgumentResolver.java
  backend/src/main/java/com/woowacourse/moamoa/auth/controller/AuthenticationInterceptor.java
  backend/src/main/java/com/woowacourse/moamoa/auth/infrastructure/JwtTokenProvider.java
  backend/src/main/java/com/woowacourse/moamoa/auth/infrastructure/TokenProvider.java
  backend/src/main/java/com/woowacourse/moamoa/auth/service/AuthService.java
  backend/src/test/java/com/woowacourse/moamoa/auth/controller/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/controller/AuthenticationArgumentResolverTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/controller/AuthenticationInterceptorTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/infrastructure/TokenProviderTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/service/AuthServiceTest.java
Labels: 🖥 backend, 🛠 refactoring

#121 [BE] issue113: 스터디 필터를 통한 조회 리팩토링
  backend/build.gradle
  backend/src/main/java/com/woowacourse/moamoa/study/domain/Study.java
  backend/src/main/java/com/woowacourse/moamoa/study/query/SearchingTags.java
  backend/src/main/java/com/woowacourse/moamoa/study/query/StudyDetailsDao.java
  backend/src/main/java/com/woowacourse/moamoa/study/query/StudySummaryDao.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/CreateStudyService.java
Labels: 🖥 backend, 🛠 refactoring

#147 [FE] issue128: 전체적인 버그 및 기능 개선
  frontend/.prettierrc.json
  frontend/README.md
  frontend/public/mockServiceWorker.js
  frontend/src/App.tsx
  frontend/src/api/axiosInstance.ts
  frontend/src/components/button/Button.style.ts
  frontend/src/components/button/Button.tsx
  frontend/src/components/letter-counter/LetterCounter.stories.tsx
  frontend/src/components/letter-counter/LetterCounter.style.tsx
  frontend/src/components/letter-counter/LetterCounter.tsx
  frontend/src/components/positive-number-input/PositiveNumberInput.tsx
  frontend/src/components/tag-chip/TagChip.style.tsx
  frontend/src/constants.ts
  frontend/src/context/login/LoginProvider.tsx
  frontend/src/custom-types/index.ts
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useForm.tsx
  frontend/src/layout/header/Header.style.tsx
  frontend/src/layout/header/Header.tsx
  frontend/src/layout/main/Main.style.tsx
  frontend/src/layout/main/Main.tsx
  frontend/src/mocks/detail-study-handlers.ts
  frontend/src/mocks/studies.json
  frontend/src/pages/create-study-page/CreateStudyPage.style.tsx
  frontend/src/pages/create-study-page/CreateStudyPage.tsx
  frontend/src/pages/create-study-page/components/category/Category.tsx
  frontend/src/pages/create-study-page/components/description-tab/DescriptionTab.style.tsx
  frontend/src/pages/create-study-page/components/description-tab/DescriptionTab.tsx
  frontend/src/pages/create-study-page/components/enrollment-end-date/EnrollmentEndDate.tsx
  frontend/src/pages/create-study-page/components/excerpt/Excerpt.tsx
  frontend/src/pages/create-study-page/components/max-member-count/MaxMemberCount.tsx
  frontend/src/pages/create-study-page/components/meta-box/MetaBox.style.tsx
  frontend/src/pages/create-study-page/components/meta-box/MetaBox.tsx
  frontend/src/pages/create-study-page/components/period/Peroid.tsx
  frontend/src/pages/create-study-page/components/tag/Tag.tsx
  frontend/src/pages/create-study-page/components/title/Title.style.tsx
  frontend/src/pages/create-study-page/components/title/Title.tsx
  frontend/src/pages/detail-page/DetailPage.style.ts
  frontend/src/pages/detail-page/DetailPage.tsx
  frontend/src/pages/detail-page/components/study-float-box/StudyFloatBox.style.tsx
  frontend/src/pages/detail-page/components/study-float-box/StudyFloatBox.tsx
  frontend/src/pages/detail-page/components/study-member-section/StudyMemberSection.tsx
  frontend/src/pages/detail-page/components/study-review-section/StudyReviewSection.tsx
  frontend/src/pages/detail-page/components/study-wide-float-box/StudyWideFloatBox.style.tsx
  frontend/src/pages/detail-page/components/study-wide-float-box/StudyWideFloatBox.tsx
  frontend/src/pages/detail-page/hooks/useFetchDetail.ts
  frontend/src/pages/detail-page/hooks/useFetchStudyReviews.ts
  frontend/src/pages/error-page/ErrorPage.tsx
  frontend/src/pages/main-page/MainPage.tsx
  frontend/src/pages/main-page/create-new-study-button/CreateNewStudyButton.tsx
  frontend/src/pages/main-page/filter-section/FilterSection.style.tsx
  frontend/src/pages/main-page/filter-section/filter-button-list/FilterButtonList.style.tsx
  frontend/src/styles/Globalstyles.tsx
Labels: 🚀 feature, 😁 frontend, 🛠 refactoring

#151 [FE] issue150: 날짜 변환 유틸 함수 추가
  frontend/src/context/login/LoginProvider.tsx
  frontend/src/layout/header/Header.style.tsx
  frontend/src/layout/main/Main.style.tsx
  frontend/src/pages/create-study-page/CreateStudyPage.style.tsx
  frontend/src/pages/create-study-page/components/enrollment-end-date/EnrollmentEndDate.tsx
  frontend/src/pages/create-study-page/components/period/Peroid.tsx
  frontend/src/pages/detail-page/DetailPage.style.ts
  frontend/src/pages/detail-page/DetailPage.tsx
  frontend/src/pages/detail-page/components/study-float-box/StudyFloatBox.stories.tsx
  frontend/src/pages/detail-page/components/study-float-box/StudyFloatBox.tsx
  frontend/src/pages/detail-page/components/study-member-card/StudyMemberCard.tsx
  frontend/src/pages/detail-page/components/study-member-section/StudyMemberSection.style.tsx
  frontend/src/pages/detail-page/components/study-member-section/StudyMemberSection.tsx
  frontend/src/pages/detail-page/components/study-review-section/StudyReviewSection.style.tsx
  frontend/src/pages/detail-page/components/study-wide-float-box/StudyWideFloatBox.stories.tsx
  frontend/src/pages/detail-page/components/study-wide-float-box/StudyWideFloatBox.tsx
  frontend/src/pages/main-page/MainPage.style.tsx
  frontend/src/pages/main-page/filter-section/FilterSection.style.tsx
  frontend/src/pages/main-page/filter-section/filter-button-list/FilterButtonList.style.tsx
  frontend/src/pages/main-page/style.ts
  frontend/src/utils/dates.ts
  frontend/src/utils/index.ts
  frontend/src/utils/yyyymmddTommdd.ts
Labels: 🚀 feature, 😁 frontend

#136 [BE] issue129: 원하는 갯수만큼 작성된 후기 조회
  backend/src/main/java/com/woowacourse/moamoa/common/advice/CommonControllerAdvice.java
  backend/src/main/java/com/woowacourse/moamoa/review/controller/ReviewController.java
  backend/src/main/java/com/woowacourse/moamoa/review/controller/converter/SizeRequestConverter.java
  backend/src/main/java/com/woowacourse/moamoa/review/domain/repository/JpaReviewRepository.java
  backend/src/main/java/com/woowacourse/moamoa/review/domain/repository/ReviewRepository.java
  backend/src/main/java/com/woowacourse/moamoa/review/query/ReviewDao.java
  backend/src/main/java/com/woowacourse/moamoa/review/query/data/ReviewData.java
  backend/src/main/java/com/woowacourse/moamoa/review/service/ReviewService.java
  backend/src/main/java/com/woowacourse/moamoa/review/service/request/SizeRequest.java
  backend/src/main/java/com/woowacourse/moamoa/review/service/response/ReviewResponse.java
  backend/src/main/java/com/woowacourse/moamoa/review/service/response/ReviewsResponse.java
  backend/src/main/java/com/woowacourse/moamoa/review/service/response/WriterResponse.java
  backend/src/main/java/com/woowacourse/moamoa/tag/controller/SearchingTagController.java
  backend/src/main/java/com/woowacourse/moamoa/tag/controller/converter/CategoryIdConverter.java
  backend/src/main/java/com/woowacourse/moamoa/tag/query/TagDao.java
  backend/src/main/java/com/woowacourse/moamoa/tag/query/request/CategoryIdRequest.java
  backend/src/main/java/com/woowacourse/moamoa/tag/service/SearchingTagService.java
  backend/src/test/java/com/woowacourse/acceptance/review/GettingReviewsAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/controller/BadRequestReviewControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/controller/ReviewControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/domain/repository/ReviewRepositoryTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/query/ReviewDaoTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/service/ReviewServiceTest.java
  backend/src/test/java/com/woowacourse/moamoa/tag/controller/SearchingTagControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/tag/query/TagDaoTest.java
Labels: 🚀 feature, 🖥 backend

#140 [BE] issue120: 스터디 리뷰 작성
  backend/src/main/java/com/woowacourse/moamoa/auth/controller/AuthenticationInterceptor.java
  backend/src/main/java/com/woowacourse/moamoa/common/advice/CommonControllerAdvice.java
  backend/src/main/java/com/woowacourse/moamoa/common/exception/BadRequestException.java
  backend/src/main/java/com/woowacourse/moamoa/common/exception/NotFoundException.java
  backend/src/main/java/com/woowacourse/moamoa/member/query/MemberDao.java
  backend/src/main/java/com/woowacourse/moamoa/member/service/MemberService.java
  backend/src/main/java/com/woowacourse/moamoa/member/service/exception/InvalidMemberException.java
  backend/src/main/java/com/woowacourse/moamoa/member/service/exception/MemberNotFoundException.java
  backend/src/main/java/com/woowacourse/moamoa/member/service/exception/NotParticipatedMemberException.java
  backend/src/main/java/com/woowacourse/moamoa/review/controller/ReviewController.java
  backend/src/main/java/com/woowacourse/moamoa/review/controller/SearchingReviewController.java
  backend/src/main/java/com/woowacourse/moamoa/review/domain/AssociatedStudy.java
  backend/src/main/java/com/woowacourse/moamoa/review/domain/Review.java
  backend/src/main/java/com/woowacourse/moamoa/review/domain/exception/WritingReviewBadRequestException.java
  backend/src/main/java/com/woowacourse/moamoa/review/domain/repository/JpaReviewRepository.java
  backend/src/main/java/com/woowacourse/moamoa/review/domain/repository/ReviewRepository.java
  backend/src/main/java/com/woowacourse/moamoa/review/service/ReviewService.java
  backend/src/main/java/com/woowacourse/moamoa/review/service/SearchingReviewService.java
  backend/src/main/java/com/woowacourse/moamoa/review/service/request/WriteReviewRequest.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/Participants.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/Period.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/Study.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/repository/JpaStudyRepository.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/repository/StudyRepository.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/exception/StudyNotFoundException.java
  backend/src/test/java/com/woowacourse/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/review/ReviewAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/study/CreatingStudyAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moamoa/member/query/MemberDaoTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/controller/BadRequestReviewControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/controller/ReviewControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/webmvc/BadRequestReviewWebMvcTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/webmvc/UnauthorizedReviewWebMvcTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/domain/ParticipantsTest.java
Labels: 🚀 feature, 🖥 backend

#166 [FE] issue134: 내 스터디 페이지 생성
  frontend/.prettierrc.json
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/env/.env.local
  frontend/src/App.tsx
  frontend/src/api/getMyStudyList.ts
  frontend/src/components/divider/Divider.tsx
  frontend/src/constants.ts
  frontend/src/index.tsx
  frontend/src/layout/footer/Footer.tsx
  frontend/src/layout/header/Header.stories.tsx
  frontend/src/layout/header/Header.style.tsx
  frontend/src/layout/header/Header.tsx
  frontend/src/layout/header/components/drop-down-box/DropDownBox.stories.tsx
  frontend/src/layout/header/components/drop-down-box/DropDownBox.style.tsx
  frontend/src/layout/header/components/drop-down-box/DropDownBox.tsx
  frontend/src/layout/header/components/logo/Logo.stories.tsx
  frontend/src/layout/header/components/logo/Logo.style.tsx
  frontend/src/layout/header/components/logo/Logo.tsx
  frontend/src/layout/header/components/nav-button/NavButton.stories.tsx
  frontend/src/layout/header/components/nav-button/NavButton.style.tsx
  frontend/src/layout/header/components/nav-button/NavButton.tsx
  frontend/src/layout/header/components/search-bar/SearchBar.stories.tsx
  frontend/src/layout/header/components/search-bar/SearchBar.style.tsx
  frontend/src/layout/header/components/search-bar/SearchBar.tsx
  frontend/src/mocks/detail-study-handlers.ts
  frontend/src/mocks/detailStudyHandlers.ts
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/my-studies.json
  frontend/src/mocks/myHandlers.ts
  frontend/src/pages/create-study-page/CreateStudyPage.stories.tsx
  frontend/src/pages/create-study-page/components/category/Category.stories.tsx
  frontend/src/pages/create-study-page/components/category/Category.tsx
  frontend/src/pages/main-page/MainPage.tsx
  frontend/src/pages/main-page/style.ts
  frontend/src/pages/my-study-page/MyStudyPage.style.tsx
  frontend/src/pages/my-study-page/MyStudyPage.tsx
  frontend/src/pages/my-study-page/components/my-study-card-list-section/MyStudyCardListSection.stories.tsx
  frontend/src/pages/my-study-page/components/my-study-card-list-section/MyStudyCardListSection.style.tsx
  frontend/src/pages/my-study-page/components/my-study-card-list-section/MyStudyCardListSection.tsx
  frontend/src/pages/my-study-page/components/my-study-card/MyStudyCard.stories.tsx
  frontend/src/pages/my-study-page/components/my-study-card/MyStudyCard.style.tsx
  frontend/src/pages/my-study-page/components/my-study-card/MyStudyCard.tsx
  frontend/tsconfig.json
  frontend/webpack/webpack.common.js
Labels: 🚀 feature, 😁 frontend

#170 [FE] hofix: 잘못된 import문 수정
  frontend/src/mocks/handlers.ts
Labels: 🐞 bug, 😁 frontend

#172 [FE] issue169: api 명세 변경에 따른 수정 및 리팩토링
  frontend/src/components/markdown-render/MarkdownRender.stories.tsx
  frontend/src/custom-types/index.ts
  frontend/src/mocks/browser.ts
  frontend/src/mocks/detailStudyHandlers.ts
  frontend/src/mocks/studies.json
  frontend/src/mocks/tagHandlers.ts
  frontend/src/pages/create-study-page/CreateStudyPage.style.tsx
  frontend/src/pages/create-study-page/CreateStudyPage.tsx
  frontend/src/pages/create-study-page/components/description-tab/DescriptionTab.style.tsx
  frontend/src/pages/create-study-page/components/description-tab/DescriptionTab.tsx
  frontend/src/pages/create-study-page/components/enrollment-end-date/EnrollmentEndDate.tsx
  frontend/src/pages/create-study-page/components/excerpt/Excerpt.tsx
  frontend/src/pages/create-study-page/components/max-member-count/MaxMemberCount.tsx
  frontend/src/pages/create-study-page/components/meta-box/MetaBox.stories.tsx
  frontend/src/pages/create-study-page/components/meta-box/MetaBox.style.tsx
  frontend/src/pages/create-study-page/components/meta-box/MetaBox.tsx
  frontend/src/pages/create-study-page/components/period/Peroid.tsx
  frontend/src/pages/create-study-page/components/publish/Publish.tsx
  frontend/src/pages/create-study-page/components/tag/Tag.tsx
  frontend/src/pages/detail-page/DetailPage.tsx
  frontend/src/pages/detail-page/components/head/Head.stories.tsx
  frontend/src/pages/detail-page/components/head/Head.tsx
  frontend/src/pages/detail-page/components/study-float-box/StudyFloatBox.stories.tsx
  frontend/src/pages/detail-page/components/study-float-box/StudyFloatBox.style.tsx
  frontend/src/pages/detail-page/components/study-float-box/StudyFloatBox.tsx
  frontend/src/pages/detail-page/components/study-wide-float-box/StudyWideFloatBox.stories.tsx
  frontend/src/pages/detail-page/components/study-wide-float-box/StudyWideFloatBox.style.tsx
  frontend/src/pages/detail-page/components/study-wide-float-box/StudyWideFloatBox.tsx
  frontend/src/pages/main-page/MainPage.tsx
  frontend/src/pages/main-page/components/create-new-study-button/CreateNewStudyButton.style.tsx
  frontend/src/pages/main-page/components/create-new-study-button/CreateNewStudyButton.tsx
  frontend/src/pages/main-page/components/filter-section/FilterSection.style.tsx
  frontend/src/pages/main-page/components/filter-section/FilterSection.tsx
  frontend/src/pages/main-page/components/filter-section/filter-button-list/FilterButtonList.stories.tsx
  frontend/src/pages/main-page/components/filter-section/filter-button-list/FilterButtonList.style.tsx
  frontend/src/pages/main-page/components/filter-section/filter-button-list/FilterButtonList.tsx
  frontend/src/pages/main-page/components/filter-section/filter-button/FilterButton.stories.tsx
  frontend/src/pages/main-page/components/filter-section/filter-button/FilterButton.style.tsx
  frontend/src/pages/main-page/components/filter-section/filter-button/FilterButton.tsx
  frontend/src/pages/main-page/components/study-card/StudyCard.stories.tsx
  frontend/src/pages/main-page/components/study-card/StudyCard.tsx
  frontend/src/pages/my-study-page/MyStudyPage.tsx
  frontend/src/pages/my-study-page/components/my-study-card-list-section/MyStudyCardListSection.style.tsx
  frontend/src/pages/my-study-page/components/my-study-card-list-section/MyStudyCardListSection.tsx
Labels: 🐞 bug, 😁 frontend, 🛠 refactoring

#174 [FE] issue133, 173: 스터디 가입 기능 구현 및 스터디원에 스터디장 추가
  frontend/src/App.tsx
  frontend/src/api/postJoiningStudy.ts
  frontend/src/api/postNewStudy.ts
  frontend/src/hooks/useAuth.ts
  frontend/src/layout/header/Header.tsx
  frontend/src/layout/header/components/drop-down-box/DropDownBox.style.tsx
  frontend/src/mocks/detailStudyHandlers.ts
  frontend/src/mocks/studies.json
  frontend/src/pages/detail-page/DetailPage.tsx
  frontend/src/pages/detail-page/components/study-float-box/StudyFloatBox.tsx
  frontend/src/pages/detail-page/components/study-member-section/StudyMemberSection.style.tsx
  frontend/src/pages/detail-page/components/study-member-section/StudyMemberSection.tsx
  frontend/src/pages/detail-page/components/study-wide-float-box/StudyWideFloatBox.tsx
  frontend/src/pages/login-redirect-page/LoginRedirectPage.tsx
  frontend/src/pages/main-page/MainPage.tsx
  frontend/src/pages/main-page/components/create-new-study-button/CreateNewStudyButton.style.tsx
  frontend/src/styles/theme.ts
Labels: 🚀 feature, 😁 frontend
