Repository woowacourse-teams/2022-moamoa, pull requests merged in 2022-10, with the labels that each got.

#331 [BE] issue322: Study 상태 변경 버그 수정 및 리팩터링
  backend/src/main/java/com/woowacourse/moamoa/study/domain/Participants.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/RecruitPlanner.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/Study.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/StudyPlanner.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/exception/InvalidPeriodException.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/StudyParticipantService.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/StudyService.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/request/StudyRequest.java
  backend/src/test/java/com/woowacourse/moamoa/fixtures/StudyFixtures.java
  backend/src/test/java/com/woowacourse/moamoa/referenceroom/controller/ReferenceRoomControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/referenceroom/controller/SearchingReferenceRoomControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/referenceroom/query/LinkDaoTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/controller/MyStudyControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/controller/SearchingStudyControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/controller/StudyControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/controller/StudyParticipantControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/domain/CreatingStudyTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/domain/StudyPlannerTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/domain/StudyTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/domain/UpdatingStudyTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/query/MyStudyDaoTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/query/StudySummaryDaoTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/service/MyStudyServiceTest.java
  backend/src/test/java/com/woowacourse/moamoa/studyroom/controller/review/ReviewControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/studyroom/controller/review/SearchingReviewControllerTest.java
Labels: 🐞 bug, 🖥 backend

#389 [FE] issue363: 토큰 로직 수정
  frontend/src/api/auth/index.ts
  frontend/src/api/axiosInstance.ts
  frontend/src/api/link-preview/index.ts
  frontend/src/auth/accessToken.ts
  frontend/src/auth/accessTokenController.ts
  frontend/src/context/login/LoginProvider.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/index.tsx
  frontend/src/mocks/myHandlers.ts
  frontend/src/mocks/tokenHandlers.ts
  frontend/src/pages/login-redirect-page/hooks/useLoginRedirectPage.ts
  frontend/src/pages/study-room-page/components/side-menu/SideMenu.stories.tsx
Labels: 🚀 feature, 😁 frontend

#397 [BE] issue396: Spring-actuator 설정
  backend/build.gradle
Labels: 🖥 backend, ⚙️ setting

#412 [BE] hotfix: 태그가 없는 경우에 대한 검사 추가
  backend/src/main/java/com/woowacourse/moamoa/study/service/request/StudyRequest.java
  backend/src/test/java/com/woowacourse/acceptance/test/study/CreatingStudyAcceptanceTest.java
Labels: 🐞 bug, 🚀 feature

#415 fix: api 잘못 매치된 속성 수정
  frontend/src/api/link/typeChecker.ts
  frontend/src/api/studies/typeChecker.ts
  frontend/src/api/study/typeChecker.ts
Labels: 🐞 bug, 😁 frontend

#423 [FE] issue419: 전체적인 버그 및 기능 수정
  frontend/cypress/e2e/CreateStudyFormValidation.cy.tsx
  frontend/src/App.tsx
  frontend/src/components/markdown-render/MarkdownRender.tsx
  frontend/src/components/multi-tag-select/MultiTagSelect.style.tsx
  frontend/src/components/multi-tag-select/MultiTagSelect.tsx
  frontend/src/constants.ts
  frontend/src/context/search/SearchProvider.tsx
  frontend/src/context/userInfo/UserInfoProvider.tsx
  frontend/src/context/userRole/UserRoleProvider.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useForm.tsx
  frontend/src/hooks/useUserInfo.ts
  frontend/src/hooks/useUserRole.ts
  frontend/src/index.tsx
  frontend/src/pages/create-study-page/components/description-tab/DescriptionTab.tsx
  frontend/src/pages/create-study-page/components/enrollment-end-date/EnrollmentEndDate.tsx
  frontend/src/pages/create-study-page/components/period/Period.tsx
  frontend/src/pages/create-study-page/components/subject/Subject.tsx
  frontend/src/pages/create-study-page/components/title/Title.tsx
  frontend/src/pages/create-study-page/hooks/useCreateStudyPage.ts
  frontend/src/pages/detail-page/DetailPage.tsx
  frontend/src/pages/detail-page/components/study-float-box/StudyFloatBox.tsx
  frontend/src/pages/detail-page/components/study-wide-float-box/StudyWideFloatBox.tsx
  frontend/src/pages/detail-page/hooks/useDetailPage.ts
  frontend/src/pages/edit-study-page/hooks/useEditStudyPage.ts
  frontend/src/pages/login-redirect-page/hooks/useLoginRedirectPage.ts
  frontend/src/pages/study-room-page/StudyRoomPage.tsx
  frontend/src/pages/study-room-page/components/side-menu/SideMenu.style.tsx
  frontend/src/pages/study-room-page/hooks/useStudyRoomPage.tsx
  frontend/src/pages/study-room-page/tabs/community-tab-panel/CommunityTabPanel.tsx
  frontend/src/pages/study-room-page/tabs/community-tab-panel/components/edit-content/EditContent.tsx
  frontend/src/pages/study-room-page/tabs/community-tab-panel/components/publish-content/PublishContent.tsx
  frontend/src/pages/study-room-page/tabs/link-room-tab-panel/LinkRoomTabPanel.tsx
  frontend/src/pages/study-room-page/tabs/link-room-tab-panel/hooks/useLinkRoomTabPanel.ts
  frontend/src/pages/study-room-page/tabs/notice-tab-panel/NoticeTabPanel.tsx
  frontend/src/pages/study-room-page/tabs/notice-tab-panel/components/edit-content/EditContent.tsx
  frontend/src/pages/study-room-page/tabs/notice-tab-panel/components/edit/Edit.tsx
  frontend/src/pages/study-room-page/tabs/notice-tab-panel/components/publish-content/PublishContent.tsx
  frontend/src/pages/study-room-page/tabs/notice-tab-panel/components/publish/Publish.tsx
  frontend/src/pages/study-room-page/tabs/review-tab-panel/ReviewTabPanel.tsx
Labels: 🐞 bug, 🚀 feature, 😁 frontend

#427 [FE] issue419: 스터디 방 페이지 전체 공개
  frontend/src/api/member/index.ts
  frontend/src/components/button-group/ButtonGroup.style.tsx
  frontend/src/components/button/icon-button/IconButton.style.tsx
  frontend/src/components/flex/Flex.style.tsx
  frontend/src/components/wrapper/Wrapper.style.tsx
  frontend/src/context/login/LoginProvider.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useUserInfo.ts
  frontend/src/hooks/useUserRole.ts
  frontend/src/pages/detail-page/hooks/useDetailPage.ts
  frontend/src/pages/study-room-page/tabs/community-tab-panel/components/article/Article.tsx
  frontend/src/pages/study-room-page/tabs/link-room-tab-panel/hooks/useLinkRoomTabPanel.ts
  frontend/src/pages/study-room-page/tabs/notice-tab-panel/components/article/Article.tsx
  frontend/src/pages/study-room-page/tabs/notice-tab-panel/hooks/usePermission.ts
  frontend/src/pages/study-room-page/tabs/review-tab-panel/ReviewTabPanel.tsx
Labels: 🐞 bug, 🚀 feature, 😁 frontend

#428 [FE] fix: 로그인 성공 후 헤더가 바뀌지 않는 오류 해결
  frontend/src/layout/header/Header.tsx
  frontend/src/pages/login-redirect-page/hooks/useLoginRedirectPage.ts
Labels: 🐞 bug, 😁 frontend

#426 fix: auth request path 제거
  backend/src/main/java/com/woowacourse/moamoa/auth/config/AuthConfig.java
Labels: 🐞 bug

#434 [BE] hotfix: Article 사이즈 변경
  backend/src/main/java/com/woowacourse/moamoa/auth/config/AuthConfig.java
  backend/src/main/java/com/woowacourse/moamoa/studyroom/service/request/ArticleRequest.java
Labels: 🐞 bug, 🖥 backend

#430 [BE]: pessimistic lock 적용
  backend/src/main/java/com/woowacourse/moamoa/study/domain/repository/StudyRepository.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/StudyParticipantService.java
  backend/src/main/resources/schema.sql
  backend/src/test/java/com/woowacourse/acceptance/steps/LoginSteps.java
  backend/src/test/java/com/woowacourse/acceptance/steps/StudyRelatedSteps.java
  backend/src/test/java/com/woowacourse/acceptance/test/study/GettingMyStudiesAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/test/study/GettingStudyDetailsAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/test/study/StudyParticipantAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/test/study/UpdatingStudyAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/test/studyroom/CommunityArticleAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/test/studyroom/LinkArticleAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/test/studyroom/ReviewsAcceptanceTest.java
  backend/src/test/java/com/woowacourse/concurrent/ConcurrentHttpRequester.java
  backend/src/test/java/com/woowacourse/concurrent/ConcurrentParticipateAcceptanceTest.java
  backend/src/test/java/com/woowacourse/concurrent/HttpRequestExecutor.java
  backend/src/test/java/com/woowacourse/moamoa/common/CategoryAndTagsSaver.java
Labels: 🐞 bug, 🖥 backend, 🛠 refactoring

#417 [BE] issue 410: 스터디원 강퇴 기능
  backend/src/docs/asciidoc/index.adoc
  backend/src/main/java/com/woowacourse/moamoa/study/controller/StudyParticipantController.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/Study.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/StudyParticipantService.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/exception/FailureKickOutException.java
  backend/src/test/java/com/woowacourse/acceptance/steps/StudyRelatedSteps.java
  backend/src/test/java/com/woowacourse/acceptance/test/study/StudyParticipantAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moamoa/common/RepositoryTest.java
  backend/src/test/java/com/woowacourse/moamoa/fixtures/CategoryFixtures.java
  backend/src/test/java/com/woowacourse/moamoa/fixtures/MemberFixtures.java
  backend/src/test/java/com/woowacourse/moamoa/fixtures/ReviewFixtures.java
  backend/src/test/java/com/woowacourse/moamoa/fixtures/TagFixtures.java
  backend/src/test/java/com/woowacourse/moamoa/study/domain/ParticipantRelatedStudyTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/service/StudyParticipantServiceTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/webmvc/StudyParticipantControllerWebMvcTest.java
Labels: 🚀 feature, 🖥 backend

#406 [BE] issue 343: 게시판 댓글 기능
  backend/src/docs/asciidoc/index.adoc
  backend/src/main/java/com/woowacourse/moamoa/comment/controller/CommentController.java
  backend/src/main/java/com/woowacourse/moamoa/comment/domain/AssociatedCommunity.java
  backend/src/main/java/com/woowacourse/moamoa/comment/domain/Author.java
  backend/src/main/java/com/woowacourse/moamoa/comment/domain/Comment.java
  backend/src/main/java/com/woowacourse/moamoa/comment/domain/repository/CommentRepository.java
  backend/src/main/java/com/woowacourse/moamoa/comment/domain/repository/JpaCommentRepository.java
  backend/src/main/java/com/woowacourse/moamoa/comment/query/CommentDao.java
  backend/src/main/java/com/woowacourse/moamoa/comment/query/data/CommentData.java
  backend/src/main/java/com/woowacourse/moamoa/comment/service/CommentService.java
  backend/src/main/java/com/woowacourse/moamoa/comment/service/exception/CommentNotFoundException.java
  backend/src/main/java/com/woowacourse/moamoa/comment/service/exception/UnEditingCommentException.java
  backend/src/main/java/com/woowacourse/moamoa/comment/service/exception/UnWrittenCommentException.java
  backend/src/main/java/com/woowacourse/moamoa/comment/service/request/CommentRequest.java
  backend/src/main/java/com/woowacourse/moamoa/comment/service/request/EditingCommentRequest.java
  backend/src/main/java/com/woowacourse/moamoa/comment/service/response/AuthorResponse.java
  backend/src/main/java/com/woowacourse/moamoa/comment/service/response/CommentResponse.java
  backend/src/main/java/com/woowacourse/moamoa/comment/service/response/CommentsResponse.java
  backend/src/main/java/com/woowacourse/moamoa/member/domain/repository/JpaMemberRepository.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/repository/JpaStudyRepository.java
  backend/src/main/java/com/woowacourse/moamoa/studyroom/domain/article/Article.java
  backend/src/main/java/com/woowacourse/moamoa/studyroom/domain/article/ArticleType.java
  backend/src/main/java/com/woowacourse/moamoa/studyroom/domain/exception/UneditableException.java
  backend/src/main/java/com/woowacourse/moamoa/studyroom/domain/link/LinkArticle.java
  backend/src/main/java/com/woowacourse/moamoa/studyroom/domain/review/Review.java
  backend/src/main/java/com/woowacourse/moamoa/studyroom/service/TempArticleService.java
  backend/src/main/java/com/woowacourse/moamoa/studyroom/service/exception/UnViewableException.java
  backend/src/main/resources/schema.sql
  backend/src/test/java/com/woowacourse/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/steps/StudyRelatedSteps.java
  backend/src/test/java/com/woowacourse/acceptance/test/comment/CommunityCommentAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/test/comment/NoticeCommentAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moamoa/comment/controller/CommentControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/comment/domain/CommentTest.java
  backend/src/test/java/com/woowacourse/moamoa/comment/query/CommentDaoTest.java
  backend/src/test/java/com/woowacourse/moamoa/comment/service/CommentServiceTest.java
  backend/src/test/java/com/woowacourse/moamoa/common/RepositoryTest.java
  backend/src/test/java/com/woowacourse/moamoa/studyroom/controller/TempArticleControllerTest.java
  backend/src/test/resources/application.yml
Labels: 🚀 feature, 🖥 backend

#450 [FE] fix: 스터디 칩이 포지션이 유지되지 않는 버그 수정
  frontend/src/pages/main-page/components/study-card/StudyCard.tsx
Labels: 🐞 bug, 😁 frontend

#456 [BE] issue455: OSIV false
  backend/src/main/resources/application.yml
Labels: 🚀 feature, 🖥 backend
