Repository woowacourse-teams/2022-moamoa, pull requests merged in 2022-08, with the labels that each got.

#183 [FE] issue182: 커스텀 커서 적용
  frontend/src/assets/images/rocket-cursor-pointer.png
  frontend/src/assets/images/rocket-cursor.png
  frontend/src/layout/header/components/logo/Logo.style.tsx
  frontend/src/pages/create-study-page/CreateStudyPage.style.tsx
  frontend/src/pages/main-page/MainPage.style.tsx
  frontend/src/pages/my-study-page/components/my-study-card-list-section/MyStudyCardListSection.style.tsx
  frontend/src/styles/Globalstyles.tsx
Labels: 🚀 feature, 😁 frontend

#176 [BE] issue168: 사용자 인증 요청 핸들링
  backend/src/main/java/com/woowacourse/moamoa/auth/config/AuthConfig.java
  backend/src/main/java/com/woowacourse/moamoa/auth/config/AuthRequestMatchConfig.java
  backend/src/main/java/com/woowacourse/moamoa/auth/controller/AuthenticationInterceptor.java
  backend/src/main/java/com/woowacourse/moamoa/auth/controller/matcher/AuthenticationRequest.java
  backend/src/main/java/com/woowacourse/moamoa/auth/controller/matcher/AuthenticationRequestMatcher.java
  backend/src/main/java/com/woowacourse/moamoa/auth/controller/matcher/AuthenticationRequestMatcherBuilder.java
  backend/src/test/java/com/woowacourse/moamoa/auth/controller/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/controller/matcher/AuthenticationRequestMatcherTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/service/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/controller/BadRequestReviewControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/webmvc/BadRequestReviewWebMvcTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/webmvc/UnauthorizedReviewWebMvcTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/webmvc/UnauthorizedMyStudyControllerTest.java
Labels: 🚀 feature, 🖥 backend, 🛠 refactoring

#177 [BE] issue163: 스터디 목록 조회 시 태그 추가
  backend/src/main/java/com/woowacourse/moamoa/study/query/StudySummaryDao.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/SearchingStudyService.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/StudyResponse.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/response/StudiesResponse.java
  backend/src/main/java/com/woowacourse/moamoa/tag/query/TagDao.java
  backend/src/main/java/com/woowacourse/moamoa/tag/query/response/TagSummaryData.java
  backend/src/test/java/com/woowacourse/acceptance/study/GettingStudiesSummaryAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/query/StudySummaryDaoTest.java
Labels: 🚀 feature, 🖥 backend

#165 [BE] issue164: 스터디 자동 CLOSE 및 Auditing 포함 전반적인 리팩토링
  backend/src/main/java/com/woowacourse/moamoa/common/config/JpaAuditingConfig.java
  backend/src/main/java/com/woowacourse/moamoa/common/entity/BaseEntity.java
  backend/src/main/java/com/woowacourse/moamoa/review/domain/Review.java
  backend/src/main/java/com/woowacourse/moamoa/review/service/ReviewService.java
  backend/src/main/java/com/woowacourse/moamoa/review/service/response/ReviewsResponse.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/Details.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/Participants.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/Period.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/RecruitmentStatus.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/Study.java
  backend/src/main/java/com/woowacourse/moamoa/study/query/StudyDetailsDao.java
  backend/src/main/java/com/woowacourse/moamoa/study/query/StudySummaryDao.java
  backend/src/main/java/com/woowacourse/moamoa/study/query/data/StudyDetailsData.java
  backend/src/main/java/com/woowacourse/moamoa/study/query/data/StudyDetailsDataBuilder.java
  backend/src/main/java/com/woowacourse/moamoa/study/query/data/StudySummaryData.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/StudyResponse.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/StudyService.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/request/CreatingStudyRequest.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/response/StudyDetailResponse.java
  backend/src/test/java/com/woowacourse/acceptance/review/GettingReviewsAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/review/ReviewAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/study/GettingMyStudiesAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/study/GettingStudiesSummaryAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/study/GettingStudyDetailsAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/study/ParticipationStudyAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/study/SearchingStudiesAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moamoa/member/query/MemberDaoTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/controller/ReviewControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/query/ReviewDaoTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/controller/MyStudyControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/controller/SearchingStudyControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/controller/StudyControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/domain/DetailsTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/domain/ParticipantsTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/domain/PeriodTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/domain/StudyTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/query/MyStudyDaoTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/query/StudyDetailsDaoTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/query/StudySummaryDaoTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/service/MyStudyServiceTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/webmvc/UnauthorizedMyStudyControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/tag/query/TagDaoTest.java
  backend/src/test/resources/schema.sql
Labels: 🚀 feature, 🖥 backend, 🛠 refactoring

#167 [BE] issue162: 스터디 모집 기간 종료 시 자동 모집 종료 설정
  backend/src/main/java/com/woowacourse/moamoa/MoamoaApplication.java
  backend/src/main/java/com/woowacourse/moamoa/auth/config/AuthRequestMatchConfig.java
  backend/src/main/java/com/woowacourse/moamoa/auth/controller/matcher/AuthenticationRequestMatcherBuilder.java
  backend/src/main/java/com/woowacourse/moamoa/common/config/SchedulerConfig.java
  backend/src/main/java/com/woowacourse/moamoa/common/config/WebConfig.java
  backend/src/main/java/com/woowacourse/moamoa/common/utils/DateTimeSystem.java
  backend/src/main/java/com/woowacourse/moamoa/review/domain/Review.java
  backend/src/main/java/com/woowacourse/moamoa/review/domain/Reviewer.java
  backend/src/main/java/com/woowacourse/moamoa/review/domain/exception/WritingReviewBadRequestException.java
  backend/src/main/java/com/woowacourse/moamoa/review/domain/repository/ReviewRepository.java
  backend/src/main/java/com/woowacourse/moamoa/review/service/ReviewService.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/Content.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/Participants.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/Period.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/RecruitPlanner.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/RecruitStatus.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/Study.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/StudyPlanner.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/repository/StudyRepository.java
  backend/src/main/java/com/woowacourse/moamoa/study/query/StudyDetailsDao.java
  backend/src/main/java/com/woowacourse/moamoa/study/schedule/AutoCloseEnrollmentTask.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/StudyService.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/request/CreatingStudyRequest.java
  backend/src/test/java/com/woowacourse/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/review/ReviewAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/review/ReviewsAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/study/AutoCloseEnrollmentAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/study/GettingMyStudiesAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/study/GettingStudyDetailsAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/study/ParticipationStudyAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/study/SearchingStudiesAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/controller/BadRequestReviewControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/controller/SearchingReviewControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/query/ReviewDaoTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/webmvc/BadRequestReviewWebMvcTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/controller/MyStudyControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/controller/SearchingStudyControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/controller/StudyControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/domain/ParticipantsTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/domain/PeriodTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/domain/StudyPlannerTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/domain/StudyTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/query/MyStudyDaoTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/query/StudyDetailsDaoTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/query/StudySummaryDaoTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/schedule/AutoCloseEnrollmentTaskTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/service/MyStudyServiceTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/service/StudyServiceTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/webmvc/UnauthorizedMyStudyControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/tag/query/TagDaoTest.java
  backend/src/test/resources/schema.sql
Labels: 🚀 feature, 🖥 backend

#180 [BE] issue119: 내가 참여한 스터디 목록 조회 리팩터링
  backend/src/main/java/com/woowacourse/moamoa/member/domain/repository/MemberRepository.java
  backend/src/main/java/com/woowacourse/moamoa/review/service/ReviewService.java
  backend/src/main/java/com/woowacourse/moamoa/study/query/MyStudyDao.java
  backend/src/main/java/com/woowacourse/moamoa/study/query/data/StudyOwnerAndTagsData.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/MyStudyService.java
  backend/src/test/java/com/woowacourse/moamoa/common/RepositoryTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/controller/SearchingReviewControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/query/MyStudyDaoTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/service/MyStudyServiceTest.java
Labels: 🐞 bug, 🖥 backend, 🛠 refactoring

#192 [BE] issue185: REST Docs 설정
  .github/workflows/backend.yml
  .github/workflows/deploy-backend-dev.yml
  backend/build.gradle
  backend/src/docs/asciidoc/index.adoc
  backend/src/main/java/com/woowacourse/moamoa/study/domain/RecruitPlanner.java
  backend/src/main/resources/static/docs/index.html
  backend/src/test/java/com/woowacourse/fixtures/AuthFixtures.java
  backend/src/test/java/com/woowacourse/fixtures/CategoryFixtures.java
  backend/src/test/java/com/woowacourse/fixtures/MemberFixtures.java
  backend/src/test/java/com/woowacourse/fixtures/ReviewFixtures.java
  backend/src/test/java/com/woowacourse/fixtures/StudyFixtures.java
  backend/src/test/java/com/woowacourse/fixtures/TagFixtures.java
  backend/src/test/java/com/woowacourse/moamoa/docs/AuthDocumentationTest.java
  backend/src/test/java/com/woowacourse/moamoa/docs/DocumentationTest.java
  backend/src/test/java/com/woowacourse/moamoa/docs/ReviewDocumentationTest.java
  backend/src/test/java/com/woowacourse/moamoa/docs/StudyDocumentationTest.java
Labels: 🚀 feature, 🖥 backend

#204 [BE] issue203 : rest docs 적용
  backend/build.gradle
  backend/src/docs/asciidoc/index.adoc
  backend/src/main/resources/static/docs/index.html
  backend/src/test/java/com/woowacourse/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/auth/AuthAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/review/ReviewsAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/study/CreatingStudyAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/study/GettingMyStudiesAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/study/GettingStudiesSummaryAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/study/GettingStudyDetailsAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/study/ParticipationStudyAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/study/SearchingStudiesAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/tag/TagAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moamoa/docs/AuthDocumentationTest.java
  backend/src/test/java/com/woowacourse/moamoa/docs/DocumentationTest.java
  backend/src/test/java/com/woowacourse/moamoa/docs/ReviewDocumentationTest.java
  backend/src/test/java/com/woowacourse/moamoa/docs/StudyDocumentationTest.java
Labels: 📖 documentation, 🚀 feature, 🖥 backend

#202 [FE] issue201: 스터디 개설 페이지 폼 유효성 테스트 추가
  frontend/.gitignore
  frontend/cypress.config.ts
  frontend/cypress/e2e/CreateStudyFormValidation.cy.tsx
  frontend/cypress/fixtures/example.json
  frontend/cypress/support/commands.ts
  frontend/cypress/support/component-index.html
  frontend/cypress/support/component.ts
  frontend/cypress/support/e2e.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/create-study-page/CreateStudyPage.style.tsx
  frontend/tsconfig.json
Labels: 😁 frontend, :test_tube: test

#191 [BE] issue188: 스터디 상태 자동 변경
  backend/src/main/java/com/woowacourse/moamoa/common/advice/CommonControllerAdvice.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/RecruitPlanner.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/Study.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/StudyPlanner.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/StudyStatus.java
  backend/src/main/java/com/woowacourse/moamoa/study/query/MyStudyDao.java
  backend/src/main/java/com/woowacourse/moamoa/study/schedule/AutoCloseEnrollmentTask.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/StudyService.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/response/StudyDetailResponse.java
  backend/src/main/java/com/woowacourse/moamoa/tag/domain/Category.java
  backend/src/test/java/com/woowacourse/acceptance/study/GettingMyStudiesAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/study/GettingStudyDetailsAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/study/SearchingStudiesAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/controller/MyStudyControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/controller/SearchingStudyControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/controller/StudyControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/domain/StudyTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/query/MyStudyDaoTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/query/StudyDetailsDaoTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/query/StudySummaryDaoTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/schedule/AutoUpdateStatusTaskTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/service/MyStudyServiceTest.java
  backend/src/test/java/com/woowacourse/moamoa/tag/query/TagDaoTest.java
  backend/src/test/resources/schema.sql
Labels: 🚀 feature, 🖥 backend

#207 [FE] issue201: 개설 페이지 폼 개선
  frontend/cypress/e2e/CreateStudyFormValidation.cy.tsx
  frontend/src/constants.ts
  frontend/src/custom-types/index.ts
  frontend/src/hooks/useForm.tsx
  frontend/src/pages/create-study-page/CreateStudyPage.style.tsx
  frontend/src/pages/create-study-page/components/category/Category.tsx
  frontend/src/pages/create-study-page/components/description-tab/DescriptionTab.tsx
  frontend/src/pages/create-study-page/components/excerpt/Excerpt.tsx
  frontend/src/pages/create-study-page/components/max-member-count/MaxMemberCount.tsx
  frontend/src/pages/create-study-page/components/period/Peroid.tsx
  frontend/src/pages/create-study-page/components/tag/Tag.tsx
  frontend/src/pages/create-study-page/components/title/Title.tsx
  frontend/src/pages/create-study-page/hooks/useCreateStudyPage.ts
  frontend/src/pages/my-study-page/MyStudyPage.tsx
Labels: 🚀 feature, 😁 frontend

#198 [BE] issue195: 리뷰 수정 및 삭제
  backend/src/docs/asciidoc/index.adoc
  backend/src/main/java/com/woowacourse/moamoa/auth/config/AuthRequestMatchConfig.java
  backend/src/main/java/com/woowacourse/moamoa/review/controller/ReviewController.java
  backend/src/main/java/com/woowacourse/moamoa/review/domain/Review.java
  backend/src/main/java/com/woowacourse/moamoa/review/domain/Reviewer.java
  backend/src/main/java/com/woowacourse/moamoa/review/domain/repository/ReviewRepository.java
  backend/src/main/java/com/woowacourse/moamoa/review/query/ReviewDao.java
  backend/src/main/java/com/woowacourse/moamoa/review/service/ReviewService.java
  backend/src/main/java/com/woowacourse/moamoa/review/service/exception/ReviewNotFoundException.java
  backend/src/main/java/com/woowacourse/moamoa/review/service/exception/UnwrittenReviewException.java
  backend/src/main/java/com/woowacourse/moamoa/review/service/request/EditingReviewRequest.java
  backend/src/test/java/com/woowacourse/acceptance/review/ReviewsAcceptanceTest.java
  backend/src/test/java/com/woowacourse/fixtures/ReviewFixtures.java
  backend/src/test/java/com/woowacourse/moamoa/review/controller/ReviewControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/controller/SearchingReviewControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/domain/ReviewTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/query/ReviewDaoTest.java
  backend/src/test/resources/schema.sql
Labels: 🚀 feature, 🖥 backend

#193 [BE] issue187: 특정 스터디에서 나의 role을 확인하는 API 생성
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/index.html
  backend/src/main/java/com/woowacourse/moamoa/auth/config/AuthRequestMatchConfig.java
  backend/src/main/java/com/woowacourse/moamoa/auth/controller/AuthenticationInterceptor.java
  backend/src/main/java/com/woowacourse/moamoa/study/controller/MyStudyController.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/MemberRole.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/Participants.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/Study.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/MyStudyService.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/response/MyRoleResponse.java
  backend/src/test/java/com/woowacourse/acceptance/study/GettingMyStudiesAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/controller/MyStudyControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/domain/StudyTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/service/MyStudyServiceTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/webmvc/BadRequestMyMemberRoleWebMvcTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/webmvc/UnauthorizedMyStudyWebMvcTest.java
Labels: 🚀 feature, 🖥 backend

#209 [FE] issue208: 사용자 정보 조회 적용
  frontend/src/api/getUserInformation.ts
  frontend/src/context/login/LoginProvider.tsx
  frontend/src/context/userInfo/UserInfoProvider.tsx
  frontend/src/custom-types/index.ts
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useUserInfo.ts
  frontend/src/index.tsx
  frontend/src/layout/header/Header.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/memberHandlers.ts
  frontend/src/pages/detail-page/components/study-float-box/StudyFloatBox.tsx
  frontend/src/pages/detail-page/components/study-wide-float-box/StudyWideFloatBox.tsx
  frontend/src/pages/study-room-page/components/review-tab-panel/ReviewTabPanel.tsx
  frontend/src/pages/study-room-page/components/review-tab-panel/components/reivew-form/ReviewForm.tsx
Labels: 🚀 feature, 😁 frontend

#213 [FE] issue212: 스터디 수정 삭제 기능 추가
  frontend/src/api/index.ts
  frontend/src/api/patchReview.ts
  frontend/src/api/putReview.ts
  frontend/src/custom-types/index.ts
  frontend/src/mocks/reviewHandler.ts
  frontend/src/pages/study-room-page/components/review-tab-panel/components/review-edit-form/ReviewEditForm.tsx
Labels: 🚀 feature, 😁 frontend

#200 [BE] issue196: 토큰을 이용한 현재 사용자 조회
  backend/src/docs/asciidoc/index.adoc
  backend/src/main/java/com/woowacourse/moamoa/auth/config/AuthRequestMatchConfig.java
  backend/src/main/java/com/woowacourse/moamoa/auth/controller/matcher/AuthenticationRequest.java
  backend/src/main/java/com/woowacourse/moamoa/member/controller/MemberController.java
  backend/src/main/java/com/woowacourse/moamoa/member/query/MemberDao.java
  backend/src/main/java/com/woowacourse/moamoa/member/query/data/MemberData.java
  backend/src/main/java/com/woowacourse/moamoa/member/service/MemberService.java
  backend/src/main/java/com/woowacourse/moamoa/member/service/response/MemberResponse.java
  backend/src/main/java/com/woowacourse/moamoa/study/query/StudyDetailsDao.java
  backend/src/main/java/com/woowacourse/moamoa/study/query/StudySummaryDao.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/SearchingStudyService.java
  backend/src/test/java/com/woowacourse/acceptance/member/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/study/GettingStudiesSummaryAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/study/SearchingStudiesAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/controller/AuthenticationInterceptorTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/controller/matcher/AuthenticationRequestMatcherTest.java
  backend/src/test/java/com/woowacourse/moamoa/member/controller/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/member/service/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/moamoa/member/webmvc/MemberWebMvcTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/controller/SearchingStudyControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/query/StudyDetailsDaoTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/query/StudySummaryDaoTest.java
Labels: 🚀 feature, 🖥 backend

#214 [BE] REST Docs API 수정 및 업데이트
  backend/src/docs/asciidoc/index.adoc
  backend/src/test/java/com/woowacourse/acceptance/member/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/study/CreatingStudyAcceptanceTest.java
Labels: 🚀 feature, 🖥 backend, 🛠 refactoring

#216 [FE] issue210: 유저 역할 조회 적용
  frontend/env/.env.local
  frontend/src/api/getUserInformation.ts
  frontend/src/api/getUserRole.ts
  frontend/src/components/kebab-menu/KebabMenu.style.tsx
  frontend/src/components/kebab-menu/KebabMenu.tsx
  frontend/src/custom-types/index.ts
  frontend/src/hooks/useUserInfo.ts
  frontend/src/mocks/memberHandlers.ts
  frontend/src/mocks/reviewHandler.ts
  frontend/src/pages/detail-page/DetailPage.tsx
  frontend/src/pages/detail-page/components/study-float-box/StudyFloatBox.tsx
  frontend/src/pages/detail-page/components/study-wide-float-box/StudyWideFloatBox.tsx
  frontend/src/pages/detail-page/hooks/useDetailPage.ts
  frontend/src/pages/study-room-page/StudyRoomPage.tsx
  frontend/src/pages/study-room-page/components/review-tab-panel/ReviewTabPanel.tsx
  frontend/src/pages/study-room-page/components/review-tab-panel/components/review-comment/ReviewComment.tsx
  frontend/src/pages/study-room-page/hooks/useStudyRoomPage.tsx
Labels: 🚀 feature, 😁 frontend

#228 [FE] issue226: 각종 오류 수정
  frontend/env/.env.local
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/arrow-button/ArrowButton.tsx
  frontend/src/index.tsx
  frontend/src/layout/header/Header.tsx
  frontend/src/layout/header/components/search-bar/SearchBar.tsx
  frontend/src/pages/create-study-page/CreateStudyPage.tsx
  frontend/src/pages/create-study-page/components/subject/Subject.style.tsx
  frontend/src/pages/create-study-page/components/subject/Subject.tsx
  frontend/src/pages/detail-page/components/study-float-box/StudyFloatBox.tsx
  frontend/src/pages/detail-page/components/study-member-section/StudyMemberSection.tsx
  frontend/src/pages/my-study-page/components/my-study-card/MyStudyCard.tsx
  frontend/src/styles/Globalstyles.tsx
  frontend/webpack/webpack.common.js
  frontend/webpack/webpack.dev.js
  frontend/webpack/webpack.local.js
Labels: 🐞 bug, 😁 frontend

#222 [BE] 테스트 리팩터링
  backend/src/main/java/com/woowacourse/moamoa/review/service/response/WriterResponse.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/request/CreatingStudyRequestBuilder.java
  backend/src/test/java/com/woowacourse/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/fixture/MemberFixtures.java
  backend/src/test/java/com/woowacourse/acceptance/fixture/StudyFixtures.java
  backend/src/test/java/com/woowacourse/acceptance/fixture/TagFixtures.java
  backend/src/test/java/com/woowacourse/acceptance/review/ReviewsAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/steps/AfterLoginSteps.java
  backend/src/test/java/com/woowacourse/acceptance/steps/CreatingStudyStep.java
  backend/src/test/java/com/woowacourse/acceptance/steps/LoginSteps.java
  backend/src/test/java/com/woowacourse/acceptance/steps/SetRequiredDataToCreatingStudySteps.java
  backend/src/test/java/com/woowacourse/acceptance/steps/Steps.java
  backend/src/test/java/com/woowacourse/acceptance/steps/StudyRelatedSteps.java
  backend/src/test/java/com/woowacourse/acceptance/study/GettingMyStudiesAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/study/GettingStudyDetailsAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/study/ParticipationStudyAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/test/auth/AuthAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/test/cors/CorsAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/test/member/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/test/review/ReviewsAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/test/study/AutoCloseEnrollmentAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/test/study/CreatingStudyAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/test/study/GettingMyStudiesAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/test/study/GettingStudiesSummaryAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/test/study/GettingStudyDetailsAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/test/study/ParticipationStudyAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/test/study/SearchingStudiesAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/test/tag/TagAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moamoa/member/domain/repository/MemberRepositoryTest.java
  backend/src/test/java/com/woowacourse/moamoa/member/query/MemberDaoTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/controller/ReviewControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/controller/SearchingReviewControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/controller/MyStudyControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/controller/SearchingStudyControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/query/MyStudyDaoTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/query/StudyDetailsDaoTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/query/StudySummaryDaoTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/service/MyStudyServiceTest.java
  backend/src/test/java/com/woowacourse/moamoa/tag/controller/SearchingTagControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/tag/query/TagDaoTest.java
  backend/src/test/resources/data.sql
Labels: 🖥 backend, 🛠 refactoring

#224 [BE] issue223: 테스트 코드 최적화
  backend/src/main/java/com/woowacourse/moamoa/common/advice/CommonControllerAdvice.java
  backend/src/test/java/com/woowacourse/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/moamoa/WebMVCTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/controller/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/controller/AuthenticationArgumentResolverTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/controller/AuthenticationInterceptorTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/controller/matcher/AuthenticationRequestMatcherTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/infrastructure/TokenProviderTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/service/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/service/OAuthClientTest.java
  backend/src/test/java/com/woowacourse/moamoa/member/webmvc/MemberWebMvcTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/webmvc/BadRequestReviewWebMvcTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/webmvc/UnauthorizedReviewWebMvcTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/webmvc/BadRequestMyMemberRoleWebMvcTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/webmvc/UnauthorizedMyStudyWebMvcTest.java
Labels: 🖥 backend, 🛠 refactoring

#233 [BE] issue221: 내가 참여한 스터디 조회 오류
  backend/src/main/java/com/woowacourse/moamoa/study/query/MyStudyDao.java
  backend/src/main/java/com/woowacourse/moamoa/study/query/data/MyStudySummaryData.java
  backend/src/main/java/com/woowacourse/moamoa/study/query/data/StudyOwnerAndTagsData.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/MyStudyService.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/response/MyStudiesResponse.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/response/MyStudyResponse.java
  backend/src/main/java/com/woowacourse/moamoa/tag/query/response/TagSummaryData.java
  backend/src/test/java/com/woowacourse/acceptance/test/study/GettingMyStudiesAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/controller/MyStudyControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/query/MyStudyDaoTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/service/MyStudyServiceTest.java
Labels: 🐞 bug, 🖥 backend

#239 [FE] issue238: 빌드 프로세스 개선
  frontend/.babelrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/button-group/ButtonGroup.tsx
  frontend/src/components/button/Button.style.ts
  frontend/src/components/button/Button.tsx
  frontend/src/components/checkbox/Checkbox.style.tsx
  frontend/src/components/checkbox/Checkbox.tsx
  frontend/src/components/positive-number-input/PositiveNumberInput.style.tsx
  frontend/src/components/positive-number-input/PositiveNumberInput.tsx
  frontend/src/hooks/usePositiveNumberInput.ts
  frontend/src/layout/header/Header.style.tsx
  frontend/src/layout/header/components/logo/Logo.style.tsx
  frontend/src/layout/header/components/search-bar/SearchBar.style.tsx
  frontend/src/pages/create-study-page/CreateStudyPage.style.tsx
  frontend/src/pages/create-study-page/CreateStudyPage.tsx
  frontend/src/pages/create-study-page/components/category/Category.style.tsx
  frontend/src/pages/create-study-page/components/category/Category.tsx
  frontend/src/pages/create-study-page/components/description-tab/DescriptionTab.style.tsx
  frontend/src/pages/create-study-page/components/description-tab/DescriptionTab.tsx
  frontend/src/pages/create-study-page/components/enrollment-end-date/EnrollmentEndDate.style.tsx
  frontend/src/pages/create-study-page/components/enrollment-end-date/EnrollmentEndDate.tsx
  frontend/src/pages/create-study-page/components/excerpt/Excerpt.style.tsx
  frontend/src/pages/create-study-page/components/excerpt/Excerpt.tsx
  frontend/src/pages/create-study-page/components/input/Input.style.tsx
  frontend/src/pages/create-study-page/components/max-member-count/MaxMemberCount.style.tsx
  frontend/src/pages/create-study-page/components/max-member-count/MaxMemberCount.tsx
  frontend/src/pages/create-study-page/components/meta-box/MetaBox.tsx
  frontend/src/pages/create-study-page/components/period/Period.style.tsx
  frontend/src/pages/create-study-page/components/period/Peroid.tsx
  frontend/src/pages/create-study-page/components/publish/Publish.tsx
  frontend/src/pages/create-study-page/components/select/Select.style.tsx
  frontend/src/pages/create-study-page/components/subject/Subject.style.tsx
  frontend/src/pages/create-study-page/components/subject/Subject.tsx
  frontend/src/pages/create-study-page/components/textarea/Textarea.style.tsx
  frontend/src/pages/create-study-page/components/title/Title.style.tsx
  frontend/src/pages/create-study-page/components/title/Title.tsx
  frontend/src/pages/study-room-page/components/review-tab-panel/components/review-comment/ReviewComment.style.tsx
  frontend/src/pages/study-room-page/components/review-tab-panel/components/review-edit-form/ReviewEditForm.style.tsx
  frontend/src/pages/study-room-page/components/review-tab-panel/components/review-edit-form/ReviewEditForm.tsx
  frontend/webpack/webpack.common.js
Labels: 🚀 feature, 😁 frontend, 🛠 refactoring

#236 [BE] issue229: Refresh Token 적용하기
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/index.html
  backend/src/main/java/com/woowacourse/moamoa/auth/config/AuthRequestMatchConfig.java
  backend/src/main/java/com/woowacourse/moamoa/auth/config/AuthenticationExtractor.java
  backend/src/main/java/com/woowacourse/moamoa/auth/controller/AuthController.java
  backend/src/main/java/com/woowacourse/moamoa/auth/controller/AuthenticationArgumentResolver.java
  backend/src/main/java/com/woowacourse/moamoa/auth/domain/Token.java
  backend/src/main/java/com/woowacourse/moamoa/auth/domain/repository/TokenRepository.java
  backend/src/main/java/com/woowacourse/moamoa/auth/exception/RefreshTokenExpirationException.java
  backend/src/main/java/com/woowacourse/moamoa/auth/exception/TokenExpirationException.java
  backend/src/main/java/com/woowacourse/moamoa/auth/exception/TokenNotFoundException.java
  backend/src/main/java/com/woowacourse/moamoa/auth/infrastructure/JwtTokenProvider.java
  backend/src/main/java/com/woowacourse/moamoa/auth/infrastructure/TokenProvider.java
  backend/src/main/java/com/woowacourse/moamoa/auth/service/AuthService.java
  backend/src/main/java/com/woowacourse/moamoa/auth/service/oauthclient/response/GithubProfileResponse.java
  backend/src/main/java/com/woowacourse/moamoa/auth/service/request/AccessTokenRequest.java
  backend/src/main/java/com/woowacourse/moamoa/auth/service/response/AccessTokenResponse.java
  backend/src/main/java/com/woowacourse/moamoa/auth/service/response/TokenResponse.java
  backend/src/main/java/com/woowacourse/moamoa/auth/service/response/TokensResponse.java
  backend/src/main/java/com/woowacourse/moamoa/common/advice/CommonControllerAdvice.java
  backend/src/main/java/com/woowacourse/moamoa/common/advice/response/ErrorResponse.java
  backend/src/main/java/com/woowacourse/moamoa/common/config/WebConfig.java
  backend/src/main/java/com/woowacourse/moamoa/member/controller/MemberController.java
  backend/src/test/java/com/woowacourse/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/steps/LoginSteps.java
  backend/src/test/java/com/woowacourse/acceptance/test/auth/AuthAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/test/cors/CorsAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/test/member/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/controller/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/controller/AuthenticationArgumentResolverTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/controller/AuthenticationInterceptorTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/infrastructure/TokenProviderTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/service/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/moamoa/member/webmvc/MemberWebMvcTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/controller/SearchingReviewControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/webmvc/BadRequestReviewWebMvcTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/webmvc/BadRequestMyMemberRoleWebMvcTest.java
  backend/src/test/resources/schema.sql
Labels: 🚀 feature, 🖥 backend, ⚙️ setting

#249 [FE] 로그인 경로 수정
  frontend/src/api/postLogin.ts
  frontend/src/mocks/tokenHandlers.ts
Labels: 🐞 bug, 😁 frontend

#250 [BE] issue229: Refresh Token 핫픽스
  backend/src/main/java/com/woowacourse/moamoa/auth/controller/AuthController.java
Labels: 🚀 feature, 🖥 backend

#235 [BE] issue231: 커뮤니티 CRUD
  backend/src/main/java/com/woowacourse/moamoa/auth/config/AuthConfig.java
  backend/src/main/java/com/woowacourse/moamoa/auth/config/AuthRequestMatchConfig.java
  backend/src/main/java/com/woowacourse/moamoa/auth/config/AuthenticatedMember.java
  backend/src/main/java/com/woowacourse/moamoa/auth/controller/AuthenticatedMemberResolver.java
  backend/src/main/java/com/woowacourse/moamoa/auth/controller/AuthenticationInterceptor.java
  backend/src/main/java/com/woowacourse/moamoa/common/config/PageableVerificationArgumentResolver.java
  backend/src/main/java/com/woowacourse/moamoa/community/controller/CommunityArticleController.java
  backend/src/main/java/com/woowacourse/moamoa/community/domain/CommunityArticle.java
  backend/src/main/java/com/woowacourse/moamoa/community/domain/repository/CommunityArticleRepository.java
  backend/src/main/java/com/woowacourse/moamoa/community/query/CommunityArticleDao.java
  backend/src/main/java/com/woowacourse/moamoa/community/query/data/CommunityArticleData.java
  backend/src/main/java/com/woowacourse/moamoa/community/service/CommunityArticleService.java
  backend/src/main/java/com/woowacourse/moamoa/community/service/exception/ArticleNotFoundException.java
  backend/src/main/java/com/woowacourse/moamoa/community/service/exception/NotArticleAuthorException.java
  backend/src/main/java/com/woowacourse/moamoa/community/service/exception/NotRelatedArticleException.java
  backend/src/main/java/com/woowacourse/moamoa/community/service/exception/UneditableArticleException.java
  backend/src/main/java/com/woowacourse/moamoa/community/service/exception/UnviewableArticleException.java
  backend/src/main/java/com/woowacourse/moamoa/community/service/request/ArticleRequest.java
  backend/src/main/java/com/woowacourse/moamoa/community/service/response/ArticleResponse.java
  backend/src/main/java/com/woowacourse/moamoa/community/service/response/ArticleSummariesResponse.java
  backend/src/main/java/com/woowacourse/moamoa/community/service/response/ArticleSummaryResponse.java
  backend/src/main/java/com/woowacourse/moamoa/community/service/response/AuthorResponse.java
  backend/src/main/java/com/woowacourse/moamoa/member/domain/repository/MemberRepository.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/Participants.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/Study.java
  backend/src/test/java/com/woowacourse/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/fixture/TagFixtures.java
  backend/src/test/java/com/woowacourse/acceptance/steps/StudyRelatedSteps.java
  backend/src/test/java/com/woowacourse/acceptance/test/community/CommunityAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moamoa/WebMVCTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/controller/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/controller/AuthenticationArgumentResolverTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/controller/AuthenticationInterceptorTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/controller/matcher/AuthenticationRequestMatcherTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/service/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/moamoa/common/CategoryAndTagsSaver.java
  backend/src/test/java/com/woowacourse/moamoa/common/MockedServiceObjectsBeanRegister.java
  backend/src/test/java/com/woowacourse/moamoa/common/RepositoryTest.java
  backend/src/test/java/com/woowacourse/moamoa/community/controller/CommunityArticleControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/community/controller/DeletingCommunityArticleControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/community/controller/GettingCommunityArticleControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/community/controller/GettingCommunityArticleSummariesControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/community/controller/UpdatingCommunityArticleControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/community/domain/CommunityArticleTest.java
  backend/src/test/java/com/woowacourse/moamoa/community/webmvc/CreatingCommunityArticleControllerWebMvcTest.java
  backend/src/test/java/com/woowacourse/moamoa/community/webmvc/DeletingCommunityArticleControllerWebMvcTest.java
  backend/src/test/java/com/woowacourse/moamoa/community/webmvc/GettingCommunityArticleControllerWebMvcTest.java
  backend/src/test/java/com/woowacourse/moamoa/community/webmvc/UpdatingCommunityArticleControllerWebMvcTest.java
  backend/src/test/java/com/woowacourse/moamoa/fixtures/AuthFixtures.java
  backend/src/test/java/com/woowacourse/moamoa/fixtures/CategoryFixtures.java
  backend/src/test/java/com/woowacourse/moamoa/fixtures/MemberFixtures.java
  backend/src/test/java/com/woowacourse/moamoa/fixtures/ReviewFixtures.java
  backend/src/test/java/com/woowacourse/moamoa/fixtures/StudyFixtures.java
  backend/src/test/java/com/woowacourse/moamoa/fixtures/TagFixtures.java
  backend/src/test/java/com/woowacourse/moamoa/member/webmvc/MemberWebMvcTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/domain/StudyTest.java
  backend/src/test/resources/application.yml
  backend/src/test/resources/data.sql
  backend/src/test/resources/schema.sql
Labels: 🚀 feature, 🖥 backend

#237 [BE] issue227: 스터디원을 위한 링크공유 CRUD
  backend/src/docs/asciidoc/index.adoc
  backend/src/main/java/com/woowacourse/moamoa/auth/config/AuthRequestMatchConfig.java
  backend/src/main/java/com/woowacourse/moamoa/common/entity/BaseEntity.java
  backend/src/main/java/com/woowacourse/moamoa/member/service/exception/NotParticipatedMemberException.java
  backend/src/main/java/com/woowacourse/moamoa/referenceroom/controller/ReferenceRoomController.java
  backend/src/main/java/com/woowacourse/moamoa/referenceroom/controller/SearchingReferenceRoomController.java
  backend/src/main/java/com/woowacourse/moamoa/referenceroom/domain/Author.java
  backend/src/main/java/com/woowacourse/moamoa/referenceroom/domain/Link.java
  backend/src/main/java/com/woowacourse/moamoa/referenceroom/domain/repository/JpaLinkRepository.java
  backend/src/main/java/com/woowacourse/moamoa/referenceroom/domain/repository/LinkRepository.java
  backend/src/main/java/com/woowacourse/moamoa/referenceroom/query/LinkDao.java
  backend/src/main/java/com/woowacourse/moamoa/referenceroom/query/data/LinkData.java
  backend/src/main/java/com/woowacourse/moamoa/referenceroom/service/ReferenceRoomService.java
  backend/src/main/java/com/woowacourse/moamoa/referenceroom/service/SearchingReferenceRoomService.java
  backend/src/main/java/com/woowacourse/moamoa/referenceroom/service/exception/LinkNotFoundException.java
  backend/src/main/java/com/woowacourse/moamoa/referenceroom/service/exception/NotCreatingLinkException.java
  backend/src/main/java/com/woowacourse/moamoa/referenceroom/service/exception/NotLinkAuthorException.java
  backend/src/main/java/com/woowacourse/moamoa/referenceroom/service/exception/NotParticipatedMemberException.java
  backend/src/main/java/com/woowacourse/moamoa/referenceroom/service/exception/NotRelatedLinkException.java
  backend/src/main/java/com/woowacourse/moamoa/referenceroom/service/request/CreatingLinkRequest.java
  backend/src/main/java/com/woowacourse/moamoa/referenceroom/service/request/EditingLinkRequest.java
  backend/src/main/java/com/woowacourse/moamoa/referenceroom/service/response/AuthorResponse.java
  backend/src/main/java/com/woowacourse/moamoa/referenceroom/service/response/LinkResponse.java
  backend/src/main/java/com/woowacourse/moamoa/referenceroom/service/response/LinksResponse.java
  backend/src/main/java/com/woowacourse/moamoa/review/domain/AssociatedStudy.java
  backend/src/main/java/com/woowacourse/moamoa/review/query/ReviewDao.java
  backend/src/main/java/com/woowacourse/moamoa/review/service/ReviewService.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/Participants.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/Study.java
  backend/src/test/java/com/woowacourse/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/steps/StudyRelatedSteps.java
  backend/src/test/java/com/woowacourse/acceptance/test/community/CommunityAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/test/referenceroom/ReferenceRoomAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/test/review/ReviewsAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moamoa/WebMVCTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/controller/AuthenticationArgumentResolverTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/controller/AuthenticationInterceptorTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/controller/matcher/AuthenticationRequestMatcherTest.java
  backend/src/test/java/com/woowacourse/moamoa/referenceroom/controller/ReferenceRoomControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/referenceroom/controller/SearchingReferenceRoomControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/referenceroom/domain/LinkTest.java
  backend/src/test/java/com/woowacourse/moamoa/referenceroom/query/LinkDaoTest.java
  backend/src/test/java/com/woowacourse/moamoa/referenceroom/webmvc/ReferenceRoomWebMvcTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/controller/SearchingReviewControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/domain/StudyTest.java
  backend/src/test/resources/schema.sql
Labels: 🚀 feature, 🖥 backend

#253 [BE] issue252: 링크 공유 설명란 최대 글자수 40자로 변경
  backend/src/main/java/com/woowacourse/moamoa/referenceroom/service/request/CreatingLinkRequest.java
  backend/src/main/java/com/woowacourse/moamoa/referenceroom/service/request/EditingLinkRequest.java
  backend/src/test/java/com/woowacourse/moamoa/referenceroom/webmvc/ReferenceRoomWebMvcTest.java
Labels: 🖥 backend, 🛠 refactoring

#257 [BE] issue229 : refresh token
  backend/src/main/java/com/woowacourse/moamoa/common/config/WebConfig.java
  backend/src/test/java/com/woowacourse/moamoa/auth/controller/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/service/AuthServiceTest.java
Labels: 🐞 bug, 🖥 backend

#262 [FE] issue261: accessToken 저장 위치 변경
  frontend/src/auth/accessToken.ts
Labels: 🐞 bug, 🚀 feature, 😁 frontend

#259 [FE] issue256: atomic css 방식을 css props에 적용하는 유틸 함수 생성
  frontend/src/App.tsx
  frontend/src/components/markdown-render/MarkdownRender.tsx
  frontend/src/layout/footer/Footer.tsx
  frontend/src/pages/create-study-page/components/category/Category.stories.tsx
  frontend/src/pages/create-study-page/components/category/Category.tsx
  frontend/src/pages/create-study-page/components/meta-box/MetaBox.stories.tsx
  frontend/src/pages/create-study-page/components/publish/Publish.tsx
  frontend/src/pages/create-study-page/components/subject/Subject.tsx
  frontend/src/pages/detail-page/components/study-wide-float-box/StudyWideFloatBox.tsx
  frontend/src/pages/study-room-page/StudyRoomPage.tsx
  frontend/src/utils/tw.ts
  frontend/tailwind.config.js
Labels: 🚀 feature, 😁 frontend, 🛠 refactoring

#267 [BE] issue: 266: Interceptor refresh 요청 제외
  backend/src/main/java/com/woowacourse/moamoa/auth/controller/AuthenticationInterceptor.java
Labels: 🐞 bug, 🖥 backend

#242 [BE] issue241: 테스트 코드 리팩토링
  backend/src/main/java/com/woowacourse/moamoa/study/domain/AttachedTags.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/Participants.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/RecruitPlanner.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/StudyPlanner.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/StudyService.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/request/CreatingStudyRequest.java
  backend/src/test/java/com/woowacourse/acceptance/test/review/ReviewsAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/test/tag/TagAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moamoa/fixtures/AuthFixtures.java
  backend/src/test/java/com/woowacourse/moamoa/fixtures/MemberFixtures.java
  backend/src/test/java/com/woowacourse/moamoa/fixtures/ReviewFixtures.java
  backend/src/test/java/com/woowacourse/moamoa/fixtures/StudyFixtures.java
  backend/src/test/java/com/woowacourse/moamoa/member/domain/repository/MemberRepositoryTest.java
  backend/src/test/java/com/woowacourse/moamoa/referenceroom/controller/ReferenceRoomControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/referenceroom/controller/SearchingReferenceRoomControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/referenceroom/query/LinkDaoTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/controller/ReviewControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/controller/SearchingReviewControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/query/ReviewDaoTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/controller/MyStudyControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/controller/SearchingStudyControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/controller/StudyControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/query/MyStudyDaoTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/query/StudyDetailsDaoTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/query/StudySummaryDaoTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/service/MyStudyServiceTest.java
  backend/src/test/java/com/woowacourse/moamoa/tag/controller/SearchingTagControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/tag/query/TagDaoTest.java
  backend/src/test/resources/schema.sql
Labels: 🖥 backend, 🛠 refactoring, :test_tube: test

#246 [BE] issue245: 스터디 가입날짜 및 스터디 개수
  backend/src/main/java/com/woowacourse/moamoa/member/query/MemberDao.java
  backend/src/main/java/com/woowacourse/moamoa/member/query/data/ParticipatingMemberData.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/Participant.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/Study.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/SearchingStudyService.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/response/StudyDetailResponse.java
  backend/src/test/java/com/woowacourse/acceptance/test/study/GettingStudyDetailsAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/controller/SearchingStudyControllerTest.java
  backend/src/test/resources/schema.sql
Labels: 🚀 feature, 🖥 backend

#278 [BE] issue255: 스터디 상세 정보 수정
  backend/src/docs/asciidoc/index.adoc
  backend/src/main/java/com/woowacourse/moamoa/auth/config/AuthRequestMatchConfig.java
  backend/src/main/java/com/woowacourse/moamoa/study/controller/StudyController.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/AttachedTag.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/Study.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/StudyService.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/request/StudyRequest.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/request/StudyRequestBuilder.java
  backend/src/test/java/com/woowacourse/acceptance/steps/AfterLoginSteps.java
  backend/src/test/java/com/woowacourse/acceptance/steps/CreatingStudyStep.java
  backend/src/test/java/com/woowacourse/acceptance/steps/SetRequiredDataToCreatingStudySteps.java
  backend/src/test/java/com/woowacourse/acceptance/test/study/UpdatingStudyAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moamoa/community/controller/CommunityArticleControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/community/controller/DeletingCommunityArticleControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/community/controller/GettingCommunityArticleControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/community/controller/GettingCommunityArticleSummariesControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/community/controller/UpdatingCommunityArticleControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/fixtures/StudyFixtures.java
  backend/src/test/java/com/woowacourse/moamoa/referenceroom/controller/ReferenceRoomControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/referenceroom/controller/SearchingReferenceRoomControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/referenceroom/query/LinkDaoTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/controller/ReviewControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/controller/SearchingReviewControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/query/ReviewDaoTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/controller/SearchingStudyControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/controller/StudyControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/domain/StudyTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/schedule/AutoUpdateStatusTaskTest.java
Labels: 🚀 feature, 🖥 backend

#287 [FE] issue275: 스터디원 스터디 탈퇴
  frontend/src/api/my-studies/index.ts
  frontend/src/api/my-study/index.ts
  frontend/src/mocks/detailStudyHandlers.ts
  frontend/src/mocks/myHandlers.ts
  frontend/src/pages/my-study-page/components/my-study-card-list-section/MyStudyCardListSection.style.tsx
  frontend/src/pages/my-study-page/components/my-study-card-list-section/MyStudyCardListSection.tsx
  frontend/src/pages/my-study-page/components/my-study-card/MyStudyCard.style.tsx
  frontend/src/pages/my-study-page/components/my-study-card/MyStudyCard.tsx
Labels: 🚀 feature, 😁 frontend

#281 [BE] issue254: 스터디 탈퇴
  backend/src/docs/asciidoc/index.adoc
  backend/src/main/java/com/woowacourse/moamoa/community/service/CommunityArticleService.java
  backend/src/main/java/com/woowacourse/moamoa/referenceroom/service/ReferenceRoomService.java
  backend/src/main/java/com/woowacourse/moamoa/study/controller/StudyController.java
  backend/src/main/java/com/woowacourse/moamoa/study/controller/StudyParticipantController.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/Participants.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/Study.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/StudyParticipantService.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/StudyService.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/exception/OwnerCanNotLeaveException.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/response/StudiesResponse.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/response/StudyResponse.java
  backend/src/test/java/com/woowacourse/acceptance/steps/StudyRelatedSteps.java
  backend/src/test/java/com/woowacourse/acceptance/test/study/GettingStudiesSummaryAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/test/study/ParticipationStudyAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/test/study/StudyParticipantAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moamoa/referenceroom/controller/ReferenceRoomControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/referenceroom/controller/SearchingReferenceRoomControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/referenceroom/query/LinkDaoTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/controller/ReviewControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/controller/SearchingReviewControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/controller/SearchingStudyControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/controller/StudyControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/controller/StudyParticipantControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/domain/StudyTest.java
Labels: 🚀 feature, 🖥 backend

#286 [BE] issue284: Code smell 제거
  backend/src/main/java/com/woowacourse/moamoa/auth/config/AuthRequestMatchConfig.java
  backend/src/main/java/com/woowacourse/moamoa/auth/config/AuthenticationExtractor.java
  backend/src/main/java/com/woowacourse/moamoa/auth/controller/AuthenticatedMemberResolver.java
  backend/src/main/java/com/woowacourse/moamoa/auth/controller/matcher/AuthenticationRequestMatcherBuilder.java
  backend/src/main/java/com/woowacourse/moamoa/common/config/PageableVerificationArgumentResolver.java
  backend/src/main/java/com/woowacourse/moamoa/tag/controller/SearchingTagController.java
  backend/src/main/java/com/woowacourse/moamoa/tag/controller/converter/CategoryIdConverter.java
  backend/src/main/java/com/woowacourse/moamoa/tag/query/response/CategoryData.java
  backend/src/main/java/com/woowacourse/moamoa/tag/service/SearchingTagService.java
  backend/src/test/java/com/woowacourse/acceptance/test/auth/AuthAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/test/cors/CorsAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/test/member/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/test/referenceroom/ReferenceRoomAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/test/review/ReviewsAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/test/study/AutoCloseEnrollmentAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/test/study/CreatingStudyAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/test/study/GettingMyStudiesAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/test/study/GettingStudiesSummaryAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/test/study/GettingStudyDetailsAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/test/study/ParticipationStudyAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/test/study/SearchingStudiesAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/test/studyroom/CommunityAcceptanceTest.java
  backend/src/test/java/com/woowacourse/acceptance/test/tag/TagAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/controller/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/infrastructure/TokenProviderTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/service/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/moamoa/auth/service/OAuthClientTest.java
  backend/src/test/java/com/woowacourse/moamoa/member/controller/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/member/domain/repository/MemberRepositoryTest.java
  backend/src/test/java/com/woowacourse/moamoa/member/webmvc/MemberWebMvcTest.java
  backend/src/test/java/com/woowacourse/moamoa/referenceroom/controller/ReferenceRoomControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/referenceroom/controller/SearchingReferenceRoomControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/referenceroom/domain/LinkTest.java
  backend/src/test/java/com/woowacourse/moamoa/referenceroom/query/LinkDaoTest.java
  backend/src/test/java/com/woowacourse/moamoa/referenceroom/webmvc/ReferenceRoomWebMvcTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/controller/ReviewControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/controller/SearchingReviewControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/domain/ReviewTest.java
  backend/src/test/java/com/woowacourse/moamoa/review/webmvc/UnauthorizedReviewWebMvcTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/controller/MyStudyControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/controller/SearchingStudyControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/domain/StudyPlannerTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/domain/StudyTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/query/MyStudyDaoTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/query/StudySummaryDaoTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/service/MyStudyServiceTest.java
  backend/src/test/java/com/woowacourse/moamoa/study/webmvc/BadRequestMyMemberRoleWebMvcTest.java
  backend/src/test/java/com/woowacourse/moamoa/studyroom/controller/ArticleControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/studyroom/controller/DeletingArticleControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/studyroom/controller/GettingArticleControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/studyroom/controller/GettingCommunityArticleSummariesControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/studyroom/controller/UpdatingArticleControllerTest.java
  backend/src/test/java/com/woowacourse/moamoa/studyroom/webmvc/CreatingArticleControllerWebMvcTest.java
  backend/src/test/java/com/woowacourse/moamoa/studyroom/webmvc/DeletingArticleControllerWebMvcTest.java
  backend/src/test/java/com/woowacourse/moamoa/studyroom/webmvc/GettingArticleControllerWebMvcTest.java
  backend/src/test/java/com/woowacourse/moamoa/studyroom/webmvc/UpdatingArticleControllerWebMvcTest.java
Labels: 🖥 backend, 🛠 refactoring

#288 [BE] refactor: 링크 조회 로직 수정
  backend/src/main/java/com/woowacourse/moamoa/referenceroom/query/LinkDao.java
  backend/src/test/java/com/woowacourse/acceptance/test/referenceroom/ReferenceRoomAcceptanceTest.java
Labels: 🐞 bug, 🖥 backend

#291 [BE] issue290: SonarQube PostgreSQL 연동
  backend/build.gradle
  backend/src/test/java/com/woowacourse/moamoa/WebMVCTest.java
Labels: 🖥 backend, ⚙️ setting

#296 [BE]: SonarQube REFRESH_TOKEN_EXPIRATION 상수 버그 수정
  backend/src/main/java/com/woowacourse/moamoa/auth/infrastructure/JwtTokenProvider.java
Labels: 🖥 backend, 🛠 refactoring

#297 [FE] 스터디 수정 기능
  frontend/.prettierrc.json
  frontend/.storybook/main.js
  frontend/env/.env.prod
  frontend/src/App.tsx
  frontend/src/api/link-preview/index.ts
  frontend/src/api/member/index.ts
  frontend/src/api/study/index.ts
  frontend/src/components/checkbox/Checkbox.tsx
  frontend/src/constants.ts
  frontend/src/custom-types/index.ts
  frontend/src/mocks/detailStudyHandlers.ts
  frontend/src/mocks/studies.json
  frontend/src/mocks/tags.json
  frontend/src/pages/create-study-page/CreateStudyPage.tsx
  frontend/src/pages/create-study-page/components/category/Category.tsx
  frontend/src/pages/create-study-page/components/description-tab/DescriptionTab.tsx
  frontend/src/pages/create-study-page/components/enrollment-end-date/EnrollmentEndDate.tsx
  frontend/src/pages/create-study-page/components/excerpt/Excerpt.tsx
  frontend/src/pages/create-study-page/components/max-member-count/MaxMemberCount.tsx
  frontend/src/pages/create-study-page/components/period/Period.tsx
  frontend/src/pages/create-study-page/components/publish/Publish.tsx
  frontend/src/pages/create-study-page/components/subject/Subject.tsx
  frontend/src/pages/create-study-page/components/title/Title.tsx
  frontend/src/pages/detail-page/DetailPage.tsx
  frontend/src/pages/detail-page/components/head/Head.stories.tsx
  frontend/src/pages/detail-page/components/head/Head.style.tsx
  frontend/src/pages/detail-page/components/head/Head.tsx
  frontend/src/pages/detail-page/components/study-member-card/StudyMemberCard.tsx
  frontend/src/pages/detail-page/components/study-member-section/StudyMemberSection.stories.tsx
  frontend/src/pages/detail-page/components/study-member-section/StudyMemberSection.tsx
  frontend/src/pages/detail-page/components/study-wide-float-box/StudyWideFloatBox.tsx
  frontend/src/pages/edit-study-page/EditStudyPage.style.tsx
  frontend/src/pages/edit-study-page/EditStudyPage.tsx
  frontend/src/pages/edit-study-page/hooks/useEditStudyPage.ts
  frontend/src/pages/main-page/components/filter-section/FilterSection.tsx
  frontend/src/pages/main-page/components/filter-section/filter-button-list/FilterButtonList.stories.tsx
  frontend/src/pages/main-page/components/filter-section/filter-button-list/FilterButtonList.tsx
  frontend/src/pages/main-page/hooks/useMainPage.ts
  frontend/src/pages/my-study-page/components/my-study-card-list-section/MyStudyCardListSection.stories.tsx
  frontend/src/pages/study-room-page/components/link-room-tab-panel/components/link-edit-form/LinkEditForm.tsx
  frontend/src/pages/study-room-page/components/link-room-tab-panel/components/link-form/LinkForm.tsx
  frontend/src/pages/study-room-page/components/link-room-tab-panel/components/link-preview/LinkPreview.tsx
  frontend/tsconfig.json
  frontend/webpack/webpack.common.js
Labels: 🚀 feature, 😁 frontend

#313 [FE] issue312: 게시판 기능 개선
  frontend/src/constants.ts
  frontend/src/pages/study-room-page/tabs/community-tab-panel/components/article-list/ArticleList.tsx
  frontend/src/pages/study-room-page/tabs/notice-tab-panel/NoticeTabPanel.tsx
  frontend/src/pages/study-room-page/tabs/notice-tab-panel/components/article-list/ArticleList.tsx
  frontend/src/pages/study-room-page/tabs/notice-tab-panel/components/edit/Edit.tsx
  frontend/src/pages/study-room-page/tabs/notice-tab-panel/components/publish/Publish.tsx
  frontend/src/pages/study-room-page/tabs/notice-tab-panel/hooks/usePermission.ts
Labels: 🐞 bug, 😁 frontend, 🛠 refactoring

#302 [BE] issue300: 스터디 update 로직 수정
  backend/src/main/java/com/woowacourse/moamoa/common/advice/CommonControllerAdvice.java
  backend/src/main/java/com/woowacourse/moamoa/study/domain/Study.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/StudyService.java
  backend/src/main/java/com/woowacourse/moamoa/study/service/exception/InvalidUpdatingException.java
  backend/src/test/java/com/woowacourse/acceptance/test/study/UpdatingStudyAcceptanceTest.java
Labels: 🐞 bug, 🖥 backend

#318 [FE] issue317: api type 개선
  frontend/src/api/auth/index.ts
  frontend/src/api/community/index.ts
  frontend/src/api/link-preview/index.ts
  frontend/src/api/link/index.ts
  frontend/src/api/links/index.ts
  frontend/src/api/member/index.ts
  frontend/src/api/my-studies/index.ts
  frontend/src/api/my-study/index.ts
  frontend/src/api/notice/index.ts
  frontend/src/api/review/index.ts
  frontend/src/api/reviews/index.ts
  frontend/src/api/studies/index.ts
  frontend/src/api/study/index.ts
  frontend/src/api/tags/index.ts
  frontend/src/mocks/communityHandler.ts
  frontend/src/mocks/detailStudyHandlers.ts
  frontend/src/mocks/linkHandlers.ts
  frontend/src/mocks/memberHandlers.ts
  frontend/src/mocks/noticeHandler.ts
  frontend/src/mocks/studies.json
  frontend/src/pages/create-study-page/hooks/useCreateStudyPage.ts
  frontend/src/pages/detail-page/components/study-review-section/StudyReviewSection.tsx
  frontend/src/pages/edit-study-page/hooks/useEditStudyPage.ts
  frontend/src/pages/study-room-page/components/link-room-tab-panel/components/link-item/LinkItem.tsx
  frontend/src/pages/study-room-page/components/link-room-tab-panel/components/link-preview/LinkPreview.tsx
  frontend/src/pages/study-room-page/tabs/link-room-tab-panel/components/link-item/LinkItem.tsx
  frontend/src/pages/study-room-page/tabs/link-room-tab-panel/components/link-preview/LinkPreview.tsx
  frontend/src/pages/study-room-page/tabs/review-tab-panel/ReviewTabPanel.tsx
Labels: 😁 frontend, 🛠 refactoring
